.text-right {
    text-align: right;
}

.inline {
    display: inline;
}

.cbxRowForPage {
    width: 70px;
}

.text-primary {
    color: #7367F0;
}

.textarea {
    min-height: 70px;
    max-height: 70px;
}

.heigthTableDetail {
    max-height: 700px;
}

@media only screen and (min-height: 900px) and (max-height: 990px) {
    .heigthTableDetail {
        max-height: 470px;
    }
}

@media only screen and (min-height: 800px) and (max-height: 900px) {
    .heigthTableDetail {
        max-height: 380px;
    }
}

@media only screen and (min-height: 600px) and (max-height: 799px) {
    .heigthTableDetail {
        max-height: 300px;
    }
}

@media only screen and (min-height: 400px) and (max-height: 599px) {
    .heigthTableDetail {
        max-height: 250px;
    }
}