<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Gesti&oacute;n de utilidades</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalUtilitie" id="btnShowModalUtilitie">
                                                Nuevo
                                            </button>
                                        </th>
                                        <th colspan="3" id="alertUtilitieTable">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Sucursal
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qBranch" [(ngModel)]="qBranch" placeholder="Buscar por sucursal" (change)="ongetListUtilities(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Socio
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qPartner" [(ngModel)]="qPartner" placeholder="Buscar por socio" (change)="ongetListUtilities(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Utilidad mensual
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <div class="form-group">

                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qLteUtilitie" [(ngModel)]="qLteUtilitie" (change)="ongetListUtilities(1)">

                                                                <div class="form-control-position">
                                                                    &ge;
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qGteUtilitie" [(ngModel)]="qGteUtilitie" (change)="ongetListUtilities(1)">

                                                                <div class="form-control-position">
                                                                    &le;
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qEqUtilitie" [(ngModel)]="qEqUtilitie" (change)="ongetListUtilities(1)">

                                                                <div class="form-control-position">
                                                                    =
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>Fecha registro</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="dataUtilities.length === 0">
                                        <td colspan="5">
                                            <span class="text-center">Sin registros.</span>
                                        </td>
                                    </tr>

                                    <tr *ngFor="let utilitie of dataUtilities | rowIndex:pagination.currentPage:rowsForPage">
                                        <th scope="row">{{utilitie.rowIndex}}</th>
                                        <td> {{utilitie.nombreArea}} </td>
                                        <td> {{utilitie.razonSocial}} </td>
                                        <td> {{utilitie.fechaRegistro | date:'medium':'':'es'}} </td>
                                        <td>
                                            <button *ngIf="utilitie.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditUtilitie( utilitie.idUtilidad )" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="feather icon-edit"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmArea" (click)="onShowConfirm( utilitie.idUtilidad )" [title]="actionConfirm">
                                                <i [ngClass]="{'feather icon-trash-2': utilitie.estadoRegistro, 'fa fa-undo': !utilitie.estadoRegistro}" class=""></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="select2 form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="ongetListUtilities(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="ongetListUtilities(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td colspan="3">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="ongetListUtilities(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="ongetListUtilities(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="ongetListUtilities(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade text-left" id="modalUtilitie" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> {{ titleModal }} </h4>
                <button type="button" id="btnCloseModalUtilitie" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmUtilitie="ngForm" id="frmUtilitie" (submit)="onSubmitUtilitie(frmUtilitie)">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Socio</label>
                                <select class="form-control" name="cbxPartner" #cbxPartner="ngModel" [(ngModel)]="bodyUtilitie.idPartner" (change)="onChangePartner()" required [ngClass]="{'is-invalid': cbxPartner.errors?.required && cbxPartner.touched,
                                'is-valid': !cbxPartner.errors?.required && cbxPartner.touched}">
                                    <option value="null" disabled selected> -- SELECCIONE -- </option>
                                    <option *ngFor="let partner of dataPattern" [value]="partner.idSocio"> 
                                        {{partner.apellidoNombre}}
                                    </option>
                                </select>

                                <span *ngIf="cbxPartner.errors?.required && cbxPartner.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">Sucursal</label>
                            <select class="form-control" name="cbxBranch" #cbxBranch="ngModel" [(ngModel)]="bodyUtilitie.idOfficeBranch" required [ngClass]="{'is-invalid': cbxBranch.errors?.required && cbxBranch.touched,
                                'is-valid': !cbxBranch.errors?.required && cbxBranch.touched}" (change)="onChangeBranch()">
                                <option value="null" disabled selected> -- SELECCIONE -- </option>
                                <option *ngFor="let branch of dataOfficeBranch" [value]="branch.idSucursal"> 
                                    {{branch.nombreSucursal}}
                                </option>
                            </select>

                            <span *ngIf="cbxBranch.errors?.required && cbxBranch.touched" class="text-danger">
                                *Requerido
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h5>
                                Total egresos mensuales: <span class="text-danger"> {{ bodyUtilitie.totalExpense | number: '.2-2' }} </span>
                            </h5>
                            <h5>
                                Impuesto a la renta: <span class="text-primary"> {{ bodyUtilitie.incomeTax  }} %</span>
                            </h5>
                        </div>
                        <div class="col-6">
                            <small *ngIf="bodyUtilitie.utilities.length" class="text-primary">
                                Responsable: {{ bodyUtilitie.responsable }}
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <form #frmDetailUtilities="ngForm" id="frmDetailUtilities">
                                <table class="table table-bordered mb-0">
                                    <thead>
                                        <tr>
                                            <th colspan="5" class="text-center">Utilidad mensual</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2" class="text-center">Producto</th>
                                            <th width="20%">Empresa</th>
                                            <th width="25%">Socio</th>
                                            <th width="20%">Responsable</th>
                                            <!-- <th width="20%"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="loading">
                                            <td colspan="6" class="text-center">
                                                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let comissionProduct of bodyUtilitie.utilities; let i = index">
                                            <th scope="row"> {{ i + 1 }} </th>
                                            <th scope="row">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        {{ comissionProduct.nameProduct }}

                                                    </div>
                                                    <div class="col-sm-12 text-center">
                                                        <input type="number" class="form-control form-control-sm text-center" name="inUtility-{{i}}" #inUtility="ngModel" [(ngModel)]="comissionProduct.utilitie" min="0" required [ngClass]="{
                                                            'is-invalid': (inUtility.errors?.required || inUtility.errors?.min ) && inUtility.touched,
                                                            'is-valid': !inUtility.errors?.required && !inUtility.errors?.min && inUtility.touched
                                                        }" (change)="comissionProduct.onChangeUtilidadProducto( bodyUtilitie.expenseForProduct, bodyUtilitie.incomeTax, bodyUtilitie.idResponsable, bodyUtilitie.typeSeller ); onCalculateTotal()">
                                                    </div>
                                                    <div class="col-sm-12 text-left">
                                                        <small class="text-primary">
                                                            Patente {{ comissionProduct.percentPatent | number:'.2-2' }} % = PEN {{ comissionProduct.uNetaPatent | number:'.2-2' }}
                                                        </small>
                                                        <br>
                                                        <small class="text-primary">
                                                            Impuesto PEN {{ comissionProduct.impuestoRenta | number:'.2-2' }}
                                                        </small>
                                                    </div>
                                                </div>
                                            </th>
                                            <td class="text-center">

                                                <div class="row">
                                                    <div class="col-sm-12  text-right">
                                                        {{ comissionProduct.percentCompany | number:'.1-1' }} %
                                                    </div>
                                                    <div class="col-sm-12 text-right">
                                                        {{ comissionProduct.uNetaCompany | number:'.2-2' }}
                                                    </div>
                                                </div>

                                            </td>
                                            <td class="text-center">

                                                <div class="row">
                                                    <div class="col-sm-12  text-right">
                                                        {{ comissionProduct.percentPartner | number:'.1-1' }} %
                                                    </div>
                                                    <div class="col-sm-12 text-right">
                                                        <div>
                                                            <small> Util. Bruta {{ comissionProduct.uBrutaPartner | number:'.2-2' }} </small> <br>
                                                            <small> Util. Sin imp {{ comissionProduct.uNetaNoTax | number:'.2-2' }} </small>
                                                        </div>
                                                        <div>
                                                            <strong [ngClass]="{'text-success': comissionProduct.uNetaPartner > 0, 'text-danger': comissionProduct.uNetaPartner < 0}">
                                                                PEN {{ comissionProduct.uNetaPartner | number:'.2-2' }}
                                                            </strong>
                                                        </div>
                                                        <!-- {{ comissionProduct.utilidadBrutaSocio | number:'.2-2' }} bruta -->
                                                    </div>
                                                </div>

                                            </td>
                                            <td class="text-center">

                                                <div class="row">
                                                    <div class="col-sm-12  text-right">
                                                        {{ comissionProduct.percentResponsable | number:'.1-1' }} %
                                                    </div>
                                                    <div class="col-sm-12 text-right">
                                                        {{ comissionProduct.uNetaResponsable | number:'.2-2' }}
                                                    </div>
                                                </div>

                                            </td>
                                            <!-- <td>
                                                <div class="row">
                                                    <div class="col-sm-12  text-center">
                                                        % comisi&oacute;n
                                                    </div>
                                                    <div class="col-sm-12 text-center">
                                                        utilidad neta
                                                    </div>
                                                </div>
                                            </td> -->
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" class="text-right">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        Total
                                                    </div>
                                                    <div class="col-sm-9">
                                                        {{ bodyUtilitie.totalUtilities | number: '.2-2'}}
                                                    </div>
                                                </div>
                                            </th>
                                            <th class="text-right">
                                                {{ bodyUtilitie.totalCompany | number: '.2-2'}}
                                            </th>
                                            <th class="text-right">
                                                {{ bodyUtilitie.totalPartner | number: '.2-2'}}
                                            </th>
                                            <th class="text-right">
                                                {{ bodyUtilitie.totalRepsonsable | number: '.2-2'}}
                                            </th>

                                        </tr>
                                        <tr>
                                            <th colspan="5">
                                                <div class="row">
                                                    <div class="col-sm-3"></div>
                                                    <div class="col-sm-6 text-center">
                                                        <!-- table-bordered -->
                                                        <table class="table ">
                                                            <tr>
                                                                <td>Total</td>
                                                                <td class="text-right"> </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="col-sm-3"></div>
                                                </div>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" id="alertUtilitieModal">

                        </div>
                        <!-- <div class="col"></div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="frmUtilitie.invalid || loading || statusPeriod || frmDetailUtilities.invalid" class="btn btn-primary ">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        {{textButton}}
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmArea" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">{{ actionConfirm }}</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>