<section id="page-account-settings">
    <div class="row">

        <!-- left menu section -->
        <div class="col-md-3 mb-2 mb-md-0">
            <ul class="nav nav-pills flex-column mt-md-0 mt-1">
                <li class="nav-item">
                    <a class="nav-link d-flex py-75 active" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true">
                        <i class="feather icon-globe mr-50 font-medium-3"></i> General
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex py-75" id="account-pill-info" data-toggle="pill" href="#account-vertical-info" aria-expanded="true">
                        <i class="fa fa-address-card mr-50 font-medium-3"></i> Sobre mi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex py-75" id="account-pill-password" data-toggle="pill" href="#account-vertical-password" aria-expanded="false">
                        <i class="feather icon-lock mr-50 font-medium-3"></i> Cambiar contrase&ntilde;a
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex py-75" id="account-pill-notifications" data-toggle="pill" href="#account-vertical-notifications" aria-expanded="false">
                        <i class="feather icon-message-circle mr-50 font-medium-3"></i> Notifications
                    </a>
                </li>
            </ul>

        </div>
        <!-- right content section -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                <div class="media">
                                    <a href="javascript: void(0);">
                                        <img [src]="srcImage" class="rounded mr-75" alt="profile image" height="100" width="100">
                                    </a>
                                    <div class="media-body mt-75">
                                        <div class="col-12 px-0 d-flex flex-sm-row flex-column justify-content-start">
                                            <label class="btn btn-sm btn-primary ml-50 mb-50 mb-sm-0 cursor-pointer" for="account-upload">
                                                <span *ngIf="ladingImg" class="spinner-border spinner-border-sm" ></span>
                                                <span *ngIf="!ladingImg" >
                                                    Cambiar
                                                </span>
                                            </label>
                                            <input type="file" id="account-upload" hidden (change)="onChangeUploadProfile($event.target.files)">


                                        </div>
                                        <p class="text-muted ml-75 mt-50">
                                            <small>Allowed JPG, JPEG, or PNG. Max size of 800kB</small>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <form #frmProfile="ngForm" id="frmProfile" (submit)="onSubmitProfile(frmProfile)">

                                    <div class="row">

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label for="first-name-icon">Identificaci&oacute;n</label>
                                                        <div class="position-relative has-icon-left">
                                                            <select class="form-control" name="typeDocument" [(ngModel)]="bodyProfile.idTypeDocument" #typeDoc="ngModel" [ngClass]="{'is-invalid': typeDoc.errors?.required && typeDoc.touched, 'is-valid': !typeDoc.errors?.required && typeDoc.touched}" required (change)="onChangeTypeDocument()">
        
                                                                <option selected disabled value="null"> -- Seleccione -- </option>
                                                                <option *ngFor="let typeDoc of dataTypeDocument" [value]="typeDoc.idTipoDocumento">
                                                                    {{typeDoc.descripcion}}
                                                                </option>
                                                            </select>

                                                            <div class="form-control-position">
                                                                <i class="feather icon-user-check"></i>
                                                            </div>
                                                        </div>

                                                        <span *ngIf="typeDoc.errors?.required && typeDoc.touched" class="text-danger">
                                                            *Requerido
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-6">

                                                    <div class="form-group">
                                                        <label for="">Nro. Documento</label>
                                                        <div class="position-relative has-icon-left">
                                                            <input type="text" class="form-control" name="document" [(ngModel)]="bodyProfile.document" placeholder="Nro. Documento" #document="ngModel" [ngClass]="{'is-invalid': (document.errors?.required || document.errors?.pattern || document.errors?.minlength || document.errors?.maxLength ) && document.touched
                                                            , 'is-valid': !document.errors?.required && !document.errors?.pattern && !document.errors?.minlength && !document.errors?.maxLength && document.touched}" required pattern="[0-9]{0,15}" [minlength]="lenghtDocument"
                                                                [maxLength]="lenghtDocument">

                                                            <div class="form-control-position">
                                                                <i class="feather icon-hash"></i>
                                                            </div>
                                                        </div>
                                                        <span *ngIf="document.errors?.required && document.touched" class="text-danger">
                                                            *Requerido
                                                        </span>
                                                        <span *ngIf="document.errors?.minlength && document.touched" class="text-danger">
                                                            *M&iacute;nimo {{lenghtDocument}} n&uacute;meros
                                                        </span>
                                                        <span *ngIf="document.errors?.maxLength && document.touched" class="text-danger">
                                                            *M&aacute;ximo {{lenghtDocument}} n&uacute;meros
                                                        </span>
                                                        <span *ngIf="document.errors?.pattern && document.touched" class="text-danger">
                                                            *solo n&uacute;meros
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>Apellidos</label>
                                                            <input type="text" class="form-control" placeholder="Apellido paterno y/o materno" name="surnames" #surnameP="ngModel" [(ngModel)]="bodyProfile.surname" [ngClass]="{'is-invalid': (surnameP.errors?.required || surnameP.errors?.minlength ) && surnameP.touched, 
                                                            'is-valid': !surnameP.errors?.required && !surnameP.errors?.minlength && surnameP.touched}" required minlength="3" maxlength="40">
                                                            <span *ngIf="surnameP.errors?.required && surnameP.touched " class="text-danger">
                                                                *Requerido
                                                            </span>
                                                            <span *ngIf="surnameP.errors?.minlength && surnameP.touched " class="text-danger">
                                                                *M&iacute;nimo 3 caracteres
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <div class="controls">
                                                            <label>Nombres</label>
                                                            <input type="text" class="form-control" placeholder="Apellido paterno y/o materno" name="names" #nameP="ngModel" [(ngModel)]="bodyProfile.name" [ngClass]="{'is-invalid': (nameP.errors?.required || nameP.errors?.minlength ) && nameP.touched, 
                                                            'is-valid': !nameP.errors?.required && !nameP.errors?.minlength && nameP.touched}" required minlength="3" maxlength="40">
                                                            <span *ngIf="nameP.errors?.required && nameP.touched " class="text-danger">
                                                                *Requerido
                                                            </span>
                                                            <span *ngIf="nameP.errors?.minlength && nameP.touched " class="text-danger">
                                                                *M&iacute;nimo 3 caracteres
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label for="txtAddress">Direcci&oacute;n</label>
                                                        <div class="position-relative has-icon-left">
                                                            <input type="text" id="txtAddress" class="form-control" name="address" [(ngModel)]="bodyProfile.address" #address="ngModel" placeholder="Apellidos" [ngClass]="{'is-invalid': (address.errors?.required || address.errors?.pattern || address.errors?.minlength || address.errors?.maxlength ) && address.touched, 'is-valid': !address.errors?.required && !address.errors?.pattern && !address.errors?.minlength && !address.errors?.maxlength && address.touched}"
                                                                required pattern="[a-zA-Z0-9áéíóúüñÁÉÍÓÚÜ\ \,\.\-\#]{0,70}" minlength="5" maxlength="70">

                                                            <div class="form-control-position">
                                                                <i class="feather icon-italic"></i>
                                                            </div>
                                                        </div>

                                                        <span *ngIf="address.errors?.required && address.touched" class="text-danger">
                                                            *Requerido
                                                        </span>
                                                        <span *ngIf="address.errors?.pattern && address.touched" class="text-danger">
                                                            *Solo letras, n&uacute;meros y (, . - #)
                                                        </span>
                                                        <span *ngIf="address.errors?.required && address.touched" class="text-danger">
                                                            *Requerido
                                                        </span>
                                                        <span *ngIf="address.errors?.minlength && address.touched" class="text-danger">
                                                            *M&iacute;nimo 5 car&aacute;cteres
                                                        </span>
                                                        <span *ngIf="address.errors?.maxlength && address.touched" class="text-danger">
                                                            *M&iacute;ximo 5 car&aacute;ctere
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label for="">Nacionalidad</label>
                                                        <div class="position-relative has-icon-left">
                                                            <select class="form-control" name="nationality" [(ngModel)]="bodyProfile.idNationality" #nationality="ngModel" [ngClass]="{'is-invalid': nationality.errors?.required && nationality.touched, 'is-valid': !nationality.errors?.required && nationality.touched}"
                                                                required (change)="onChangeNationality()">
                
                                                                <option selected disabled value="null"> -- Seleccione -- </option>
                                                                <option *ngFor="let itemNati of dataNationality" [value]="itemNati.idNacionalidad">
                                                                    {{itemNati.nombrePais}}
                                                                </option>
                                                            </select>

                                                            <div class="form-control-position">
                                                                <i class="feather icon-flag"></i>
                                                                <!-- <i class="feather icon-user-check"></i> -->
                                                            </div>
                                                        </div>
                                                        <span *ngIf="nationality.errors?.required && nationality.touched" class="text-danger">
                                                            *Requerido
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        <div class="position-relative has-icon-left">
                                                            <input type="email" class="form-control" name="emailEmployee" [(ngModel)]="bodyProfile.email" #emailEmp="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" placeholder="example@dominio.com" [ngClass]="{'is-invalid': ( emailEmp.errors?.required || emailEmp.errors?.pattern ) && emailEmp.touched, 'is-valid': !emailEmp.errors?.required && !emailEmp.errors?.pattern && emailEmp.touched}"
                                                                required maxlength="40">
                                                            <div class="form-control-position">
                                                                <i class="feather icon-mail"></i>
                                                            </div>
                                                        </div>

                                                        <span *ngIf="emailEmp.errors?.required && emailEmp.touched" class="text-danger">
                                                            *Requerido
                                                        </span>
                                                        <span *ngIf="emailEmp.errors?.pattern && emailEmp.touched" class="text-danger">
                                                            *Formato inv&aacute;valido, example@dominio.com
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label>Tel&eacute;fono</label>
                                                        <div class="position-relative has-icon-left">
                                                            <input type="text" class="form-control" name="phone" placeholder="(+00) 000 0000" [(ngModel)]="bodyProfile.phone" #phone="ngModel" pattern="[0-9\ \(\)\+]{0,15}" [ngClass]="{'is-invalid': phone.errors?.pattern && phone.touched, 'is-valid': !phone.errors?.pattern && phone.touched}"
                                                                maxlength="15">
                                                            <div class="form-control-position">
                                                                <i class="feather icon-smartphone"></i>
                                                            </div>
                                                        </div>
                                                        <span *ngIf="phone.errors?.pattern && phone.touched" class="text-danger">
                                                            *Solo n&uacute;meros, (+00) 000 0000
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-7">
                                                    <div class="form-group">

                                                        <label>Sexo</label>
                                                        <ul class="list-unstyled mb-0">
                                                            <li class="d-inline-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtSex" id="rbtM" value="M" [(ngModel)]="bodyProfile.sex" checked>
                                                                        <label class="custom-control-label" for="rbtM">Masculino</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-inline-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtSex" id="rbtF" value="F" [(ngModel)]="bodyProfile.sex">
                                                                        <label class="custom-control-label" for="rbtF">Femenino</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-inline-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtSex" id="rbtFO" value="O" [(ngModel)]="bodyProfile.sex">
                                                                        <label class="custom-control-label" for="rbtFO">Otro</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="form-group">
                                                        <label for="">Fecha nacimiento</label>
                                                        <div class="position-relative has-icon-left">
                                                            <input type='date' class="form-control" formtarget="" name="dateBorn" [(ngModel)]="bodyProfile.dateBorn" max="2020-02-13" />
                                                            <div class="form-control-position">
                                                                <i class="feather icon-calendar"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Usuario</label>
                                                        <div class="position-relative has-icon-left">
                                                            <input type="text" class="form-control" name="userName" [(ngModel)]="bodyProfile.nameUser" #userName="ngModel" placeholder="Usuario" [ngClass]="{'is-invalid': (userName.errors?.required || userName.errors?.pattern || userName.errors?.minlength || userName.errors?.maxlength) && userName.touched,
                                                            'is-valid': !userName.errors?.required && !userName.errors?.pattern && !userName.errors?.minlength && !userName.errors?.maxlength && userName.touched}" required pattern="[0-9a-zA-Z\@\.\-\_]{0,30}"
                                                                minlength="9" maxlength="30">
                                                            <div class="form-control-position">
                                                                <i class="feather icon-user"></i>
                                                            </div>
                                                        </div>

                                                        <span *ngIf="userName.errors?.required && userName.touched" class="text-danger">
                                                            *Requerido
                                                        </span>
                                                        <span *ngIf="userName.errors?.pattern && userName.touched" class="text-danger">
                                                            *Solo letras y n&uacute;meros sin espacios y sin &ntilde;
                                                        </span>
                                                        <span *ngIf="(userName.errors?.minlength || userName.errors?.maxlength )&& userName.touched" class="text-danger">
                                                            *M&iacute;nimo 9, m&aacute;ximo 50 car&aacute;cteres
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-6" id="alertProfile">

                                                </div>
                                                <div class="col-6  d-flex flex-sm-row flex-column justify-content-end">
                                                    <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0" [disabled]="frmProfile.invalid || loading">
                                                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                                                        Guardar cambios
                                                    </button>
                                                    <button type="reset" class="btn btn-outline-warning" (click)="onLoadDataProfile()">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>

                            <div class="tab-pane fade " id="account-vertical-info" role="tabpanel" aria-labelledby="account-pill-info" aria-expanded="false">
                                <form #frmProfileInfo="ngForm" id="frmProfileInfo" (submit)="onSubmitProfileInfo( frmProfileInfo )">
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="accountTextarea">Sobre mi</label>
                                                <textarea class="form-control" id="accountTextarea" rows="3" placeholder="Alguna descripci&oacute;n sobre mi" name="aboutMe" [(ngModel)]="bodyProfileInfo.aboutMe" maxlength="200">

                                                </textarea>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Facebook</label>
                                                <input type="url" class="form-control" name="linkFacebook" #facebbok="ngModel" [(ngModel)]="bodyProfileInfo.facebook" pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                                                    placeholder="Url perfil de Facebook">
                                                <span *ngIf="facebbok.errors?.pattern && facebbok.touched" class="text-danger">
                                                    *Url inv&aacute;valido
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Google+</label>
                                                <input type="text" class="form-control" name="linkGoogle" #google="ngModel" [(ngModel)]="bodyProfileInfo.google" pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                                                    placeholder="Url perfil de Google+">
                                                <span *ngIf="google.errors?.pattern && google.touched" class="text-danger">
                                                    *Url inv&aacute;valido
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Instagram</label>
                                                <input type="text" class="form-control" name="linkInstagram" #instagram="ngModel" [(ngModel)]="bodyProfileInfo.instagram" pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                                                    placeholder="Url perfil de Instagram">
                                                <span *ngIf="instagram.errors?.pattern && instagram.touched" class="text-danger">
                                                    *Url inv&aacute;valido
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="">Idiomas</label>
                                                <ng-select2 class="select2" [data]="dataLanguage" value="ES" name="languages[]" [options]="{multiple: true}" [placeholder]="'Please select a fruit...'" width="100%" #languages="ngModel" [(ngModel)]="bodyProfileInfo.languages" required [ngClass]="{'is-invalid': languages.errors?.required && languages.touched, 
                                                'is-valid': !languages.errors?.required && languages.touched}">
                                                </ng-select2>

                                            </div>
                                        </div>

                                        <div class="col-12 ">
                                            <div class="row">
                                                <div class="col-6" id="alertProfileInfo">

                                                </div>
                                                <div class="col-6 d-flex flex-sm-row flex-column justify-content-end">
                                                    <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0" [disabled]=" frmProfileInfo.invalid || loading ">
                                                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                                                        Guardar cambios
                                                    </button>
                                                    <button type="reset" class="btn btn-outline-warning" (click)="onLoadDataProfileInfo()">
                                                        Cancel
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade " id="account-vertical-password" role="tabpanel" aria-labelledby="account-pill-password" aria-expanded="false">
                                <form novalidate>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <label for="account-old-password">Old Password</label>
                                                    <input type="password" class="form-control" id="account-old-password" required placeholder="Old Password" data-validation-required-message="This old password field is required">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <label for="account-new-password">New Password</label>
                                                    <input type="password" name="password" id="account-new-password" class="form-control" placeholder="New Password" required data-validation-required-message="The password field is required" minlength="6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <div class="controls">
                                                    <label for="account-retype-new-password">Retype New
                                                        Password</label>
                                                    <input type="password" name="con-password" class="form-control" required id="account-retype-new-password" data-validation-match-match="password" placeholder="New Password" data-validation-required-message="The Confirm password field is required" minlength="6">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                            <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">Save
                                                changes</button>
                                            <button type="reset" class="btn btn-outline-warning">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="account-vertical-notifications" role="tabpanel" aria-labelledby="account-pill-notifications" aria-expanded="false">
                                <div class="row">
                                    <h6 class="m-1">Activity</h6>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-switch custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" checked id="accountSwitch1">
                                            <label class="custom-control-label mr-1" for="accountSwitch1"></label>
                                            <span class="switch-label w-100">Email me when someone comments
                                                onmy
                                                article</span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-switch custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" checked id="accountSwitch2">
                                            <label class="custom-control-label mr-1" for="accountSwitch2"></label>
                                            <span class="switch-label w-100">Email me when someone answers on
                                                my
                                                form</span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-switch custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="accountSwitch3">
                                            <label class="custom-control-label mr-1" for="accountSwitch3"></label>
                                            <span class="switch-label w-100">Email me hen someone follows
                                                me</span>
                                        </div>
                                    </div>
                                    <h6 class="m-1">Application</h6>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-switch custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" checked id="accountSwitch4">
                                            <label class="custom-control-label mr-1" for="accountSwitch4"></label>
                                            <span class="switch-label w-100">News and announcements</span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-switch custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" id="accountSwitch5">
                                            <label class="custom-control-label mr-1" for="accountSwitch5"></label>
                                            <span class="switch-label w-100">Weekly product updates</span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <div class="custom-control custom-switch custom-control-inline">
                                            <input type="checkbox" class="custom-control-input" checked id="accountSwitch6">
                                            <label class="custom-control-label mr-1" for="accountSwitch6"></label>
                                            <span class="switch-label w-100">Weekly blog digest</span>
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                        <button type="submit" class="btn btn-primary mr-sm-1 mb-1 mb-sm-0">Save
                                            changes</button>
                                        <button type="reset" class="btn btn-outline-warning">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Mi perfil</h4>
                    <!-- <i class="feather icon-more-horizontal cursor-pointer"></i> -->
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img [src]="srcImage" class="rounded mr-75" alt="profile image" height="100" width="100">
                        <br>

                        <strong class="text-primary">
                            {{bodyProfile.surname}}, {{bodyProfile.name}}
                        </strong>
                        <hr>
                    </div>

                    <div class="text-center">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <p>
                                    "{{bodyProfileInfo.aboutMe || 'Alguna descripción sobre mi'}}"
                                </p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                    <div class="mt-1">
                        <h6 class="mb-0">Fecha alta:</h6>
                        <p>{{bodyProfile.dateRegister | date:'medium':'':'es'}}</p>
                    </div>
                    <div class="mt-1">
                        <h6 class="mb-0">Lives:</h6>
                        <p>{{bodyProfile.address}}</p>
                    </div>
                    <div class="mt-1">
                        <h6 class="mb-0">Email:</h6>
                        <p>{{bodyProfile.email}}</p>
                    </div>
                    <div class="mt-1">
                        <h6 class="mb-0">Tel&eacute;fono:</h6>
                        <p>{{bodyProfile.phone}}</p>
                    </div>
                    <div class="mt-1">
                        <h6 class="mb-0">Nacionalidad:</h6>
                        <p>{{bodyProfile.nameNationality}}</p>
                    </div>
                    <div class="mt-1">
                        <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-facebook"></i></button>
                        <!-- <button type="button" class="btn btn-sm btn-icon btn-primary mr-25 p-25"><i class="feather icon-twitter"></i></button> -->
                        <button type="button" class="btn btn-sm btn-icon btn-primary p-25"><i class="feather icon-instagram"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>