<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Pago utilidades</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin','dashboard']">Inicio</a>
                        </li>
                        <li class="breadcrumb-item"><a>Egresos y utilidades</a>
                        </li>
                        <li class="breadcrumb-item active">Pago utilidades
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Lista pagos de Utilidades</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="5">
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalUtilitiesPayment" id="btnShowModalUtilitiesPayment">
                                                Nuevo Pago
                                            </button>
                                        </th>
                                        <th colspan="5" id="alertPaymentTable">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Periodo
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': qPeriod != ''}" ></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qPeriod" [(ngModel)]="qPeriod" placeholder="Buscar por periodo" (change)="onGetListPayment(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <!-- <th>
                                            Responsable
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </form>
                                            </div>
                                        </th> -->
                                        <th>
                                            Socio
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': qPartner != ''}" ></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qPartner" [(ngModel)]="qPartner" placeholder="Buscar por socio" (change)="onGetListPayment(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Sucursal
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': qOffice != ''}" ></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qOffice" [(ngModel)]="qOffice" placeholder="Buscar por sucursal" (change)="onGetListPayment(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <!-- <th>Deuda</th> -->
                                        <th>Tipo Pago</th>
                                        <th>Monto pagado
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': ( qLteAmount > 0 || qGteAmount > 0 || qEqAmount > 0)}" ></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <div class="form-group">

                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qLteAmount" [(ngModel)]="qLteAmount" (change)="onGetListPayment(1)">

                                                                <div class="form-control-position">
                                                                    &le;
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qGteAmount" [(ngModel)]="qGteAmount" (change)="onGetListPayment(1)">

                                                                <div class="form-control-position">
                                                                    &ge;
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qEqAmount" [(ngModel)]="qEqAmount" (change)="onGetListPayment(1)">

                                                                <div class="form-control-position">
                                                                    =
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <!-- <th>Nº Operación
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qOperation" [(ngModel)]="qOperation" placeholder="Buscar por nro operaci&oacute;n" (change)="onGetListPayment(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th> -->
                                        <th>Banco
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': qBank != ''}" ></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qBank" [(ngModel)]="qBank" placeholder="Buscar por banco" (change)="onGetListPayment(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>Fecha
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tr *ngIf="loadingTable">
                                    <td colspan="10" class="text-center">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>

                                <tbody *ngIf="!loadingTable">

                                    <tr *ngFor="let payment of dataPayment | rowIndex:pagination.currentPage:rowsForPage">
                                        <th> {{ payment.rowIndex }} </th>
                                        <td class="text-center"> <small>{{payment.periodo}}</small> </td>
                                        <td> {{ payment.socio }} </td>
                                        <td> {{ payment.nombreSucursal }} </td>
                                        <!-- <td class="text-right"> {{ payment.deuda | number: '.2-2' }} </td> -->
                                        <td class="text-center"> {{payment.tipoPago | typePayment}} </td>
                                        <td class="text-right"> {{ payment.montoPagar | number: '.2-2' }} </td>
                                        <!-- <td class="text-center"> {{ payment.operacion }} </td> -->
                                        <td> {{ payment.nombreBanco }} </td>
                                        <td> {{ payment.fechaOperacion | date }} </td>
                                        <td>
                                            <button *ngIf="payment.comprobante" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalshowVoucher" (click)="onLoadVoucher( payment.idPagoUtilidad )">
                                                <i class="feather icon-image" data-toggle="tooltip" data-placement="top"
                                                    title="Ver capture de pago" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <!-- <td>25/10/2020</td> -->
                                        <td class="text-center">

                                            <button *ngIf="payment.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="tooltip" data-placement="top" title="Editar" (click)="onEditPayment( payment.idPagoUtilidad )">
                                                <i class="feather icon-edit"></i>
                                            </button>

                                            <button *ngIf="payment.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmPaymentUtilitie" (click)="onShowConfirmDelete( payment.idPagoUtilidad )">
                                                <i class="feather icon-trash-2" data-toggle="tooltip" data-placement="top"
                                                title="Ver descripción" aria-hidden="true"></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="select2 form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="onGetListPayment(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="onGetListPayment(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td colspan="5">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="onGetListPayment(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="onGetListPayment(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="onGetListPayment(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<!-- data-backdrop="false" -->
<div class="modal fade text-left" id="modalUtilitiesPayment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> {{ titleModal }} </h4>
                <button type="button" id="btnCloseModalUtilitiePayment" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmPayment="ngForm" id="frmPayment" (submit)="onSubmitPayment(frmPayment)">
                <div class="modal-body">

                    <div class="row">
                        <div class="col col-lg-4">
                            <div class="form-group">
                                <label>Responsable: </label>
                                <select class="select2 form-control" (change)="onGetPartner()" name="cbxResponsable" #responsable="ngModel" [(ngModel)]="bodyPayment.idResponsable" required [ngClass]="{'is-invalid': responsable.errors?.required && responsable.touched,
                                'is-valid': !responsable.errors?.required && responsable.touched}">
                                    <option value="null" disabled selected> -- Seleccione -- </option>
                                    <option value="0">Directo con empresa</option>
                                    <option *ngFor="let resp of dataResponsable" [value]="resp.idResponsable">{{ resp.apellidoNombre }}</option>
                                </select>
                            </div>
                            <span *ngIf="responsable.errors?.required && responsable.touched" class="text-danger">
                                *Requerido
                            </span>
                        </div>
                        <div class="col col-lg-4">
                            <div class="form-group">
                                <label>Socio: </label>
                                <select class="select2 form-control" (change)="onGetBranch()" name="cbxPartner" #partner="ngModel" [(ngModel)]="bodyPayment.idPartner" required [ngClass]="{'is-invalid': partner.errors?.required && partner.touched,
                                    'is-valid': !partner.errors?.required && partner.touched}">
                                    <option value="null" disabled selected> -- Seleccione -- </option>
                                    <option *ngFor="let partner of dataPartner" [value]="partner.idSocio">{{ partner.apellidoNombre }}</option>
                                </select>
                            </div>

                            <span *ngIf="partner.errors?.required && partner.touched" class="text-danger">
                                *Requerido
                            </span>
                        </div>
                        <div class="col col-lg-4">
                            <div class="form-group">
                                <label>Sucursal: </label>
                                <select class="select2 form-control" (change)="onChangeBranch()" name="cbxSucursal" #officeBranch="ngModel" [(ngModel)]="bodyPayment.idUtilitie" required [ngClass]="{'is-invalid': officeBranch.errors?.required && officeBranch.touched,
                                    'is-valid': !officeBranch.errors?.required && officeBranch.touched}">
                                    <option value="null" disabled selected> -- Seleccione -- </option>
                                    <option *ngFor="let sucursal of dataSucursal" [value]="sucursal.idUtilidad"> {{sucursal.nombreSucursal}} </option>
                                </select>
                            </div>
                            <span *ngIf="officeBranch.errors?.required && officeBranch.touched" class="text-danger">
                                *Requerido
                            </span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col col-lg-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>A Pagar: </label>
                                        <select class="select2 form-control" name="cbxPayment" #payType="ngModel" id="cbxTypePayment" [(ngModel)]="bodyPayment.paymentyType" (change)="onChangeBranch()" required [ngClass]="{'is-invalid': payType.errors?.required && payType.touched,
                                            'is-valid': !payType.errors?.required && payType.touched}" [disabled]="bloquedPaymentType">
                                            <option value="" disabled selected> -- Seleccione -- </option>
                                            <option value="UE">Utilidad Bruta Empresa</option>
                                            <option value="IP">Ingreso Bruto Productos</option>
                                        </select>
                                    </div>
                                    <span *ngIf="payType.errors?.required && payType.touched" class="text-danger">
                                        *Requerido
                                    </span>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Banco: </label>
                                        <select class="select2 form-control" name="cbxBank" #bank="ngModel" [(ngModel)]="bodyPayment.idBank" required [ngClass]="{'is-invalid': bank.errors?.required && bank.touched,
                                            'is-valid': !bank.errors?.required && bank.touched}">
                                            <option value="null" disabled selected> -- Seleccione -- </option>
                                            <option *ngFor="let bank of dataBank" [value]="bank.idBanco">{{ bank.nombreBanco }}</option>
                                        </select>
                                    </div>
                                    <span *ngIf="bank.errors?.required && bank.touched" class="text-danger">
                                        *Requerido
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col col-lg-8">
                            <div class="row">
                                <div class="col-sm-12">

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>utilidad N°: </label>
                                                        <span class="form-control text-center">
                                                             {{ bodyPayment.numerationUtilitie }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label>Periodo </label>
                                                        <span class="form-control text-center">
                                                             {{ bodyPayment.period }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-6">
                                            <div *ngIf="loadingDebt" class="text-center">
                                                <div class="spinner-border text-center" style="width: 3rem; height: 3rem;" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </div>
                                            </div>
                                            <div *ngIf="!loadingDebt" class="form-group">
                                                <label>Total deuda: </label>
                                                <br>
                                                <div class=" text-right">
                                                    <span>
                                                        Utilidad: S/ {{ bodyPayment.totalUtilitie | number: '.2-2' }}
                                                    </span>
                                                </div>
                                                <div class=" text-right">
                                                    <span>
                                                        Total pagado: S/ {{ bodyPayment.totalPayed | number: '.2-2' }}
                                                    </span>
                                                </div>
                                                <hr>
                                                <div class=" text-right">
                                                    <div>
                                                        Total deuda: S/ <b class="text-danger"> {{ bodyPayment.debt | number: '.2-2' }}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-8">
                            <div class="row">

                                <div class="col col-lg-4">
                                    <div class="form-group">
                                        <label>Fecha </label>
                                        <input type='date' class="form-control" name="dateOperation" #dateOperation="ngModel" [(ngModel)]="bodyPayment.dateOperation" required [ngClass]="{'is-invalid': dateOperation.errors?.required && dateOperation.touched,
                                            'is-valid': !dateOperation.errors?.required && dateOperation.touched}" />
                                    </div>
                                    <span *ngIf="dateOperation.errors?.required && dateOperation.touched" class="text-danger">
                                        *Requerido
                                    </span>
                                </div>
                                <div class="col col-lg-4">
                                    <div class="form-group">
                                        <label>Nº Operación </label>
                                        <input type="number" placeholder="Nº de operación" class="form-control" name="numberOperation" #operation="ngModel" [(ngModel)]="bodyPayment.numberOperation" required maxlength="12" minlength="5" [ngClass]="{'is-invalid':( operation.errors?.required || operation.errors?.minlength || operation.errors?.maxlength ) && operation.touched,
                                            'is-valid': !operation.errors?.required && !operation.errors?.minlength && !operation.errors?.maxlength && operation.touched}">
                                    </div>
                                    <span *ngIf="operation.errors?.required && operation.touched" class="text-danger">
                                        *Requerido
                                    </span>
                                    <span *ngIf="operation.errors?.minlength && operation.touched" class="text-danger">
                                        *M&iacute;nimo 5 caracteres
                                    </span>
                                    <span *ngIf="operation.errors?.maxlength && operation.touched" class="text-danger">
                                        *M&aacute;ximo 12 caracateres
                                    </span>

                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Monto a pagar </label>
                                        <input type="number" placeholder="0.00" class="form-control text-right" name="amountPayable" #amountPay="ngModel" [(ngModel)]="bodyPayment.amountPayable" maxlength="13" required [ngClass]="{'is-invalid': (amountPay.errors?.required || bodyPayment.amountPayable < 1 || bodyPayment.amountPayable > bodyPayment.debt ) && amountPay.touched,
                                            'is-valid': !amountPay.errors?.required && bodyPayment.amountPayable >= 1 && bodyPayment.amountPayable <= bodyPayment.debt && amountPay.touched}">
                                    </div>
                                    <span *ngIf="amountPay.errors?.required && amountPay.touched" class="text-danger">
                                        *Requerido
                                    </span>
                                    <span *ngIf="bodyPayment.amountPayable < 1 && amountPay.touched" class="text-danger">
                                        *Monto m&iacute;nimo 1.00
                                    </span>
                                    <span *ngIf="bodyPayment.amountPayable >  bodyPayment.debt && amountPay.touched" class="text-danger">
                                        *El monto a pagar no puede ser mayor a: {{ bodyPayment.debt | number: '.2-2' }}
                                    </span>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="">Descripci&oacute;n</label>
                                        <textarea class="form-control textarea" rows="2" name="observation" #observation="ngModel" [(ngModel)]="bodyPayment.observation" placeholder="Alg&uacute;n comentario importante" maxlength="200" pattern="[a-zA-Z0-9\ \,\.\-\#\(\)áéíóúüñÁÉÍÓÚÜÑ]{0,}" [ngClass]="{'is-invalid': (observation.errors?.pattern || observation.errors?.maxlength) && observation.touched,
                                            'is-valid': !observation.errors?.pattern && !observation.errors?.maxlength && observation.touched}"></textarea>
                                    </div>

                                    <span *ngIf="observation.errors?.pattern && observation.touched" class="text-danger">
                                        *Solo letras, n&uacute;meros y (,.-#)
                                    </span>
                                    <span *ngIf="observation.errors?.maxlength && observation.touched" class="text-danger">
                                        *M&aacute;ximo 200 caracteres 
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="col-4">

                            <div class="row">
                                <div class="col-12 text-center">
                                    <div class="form-group text-center">
                                        <label for="filePayment" style="cursor: pointer;">
                                            <img [src]="srcFile" alt="" width="100">
                                        </label>
                                        <input type="file" id="filePayment" style="display: none;" (change)="onChangeFilePayment( $event.target.files )" multiple="false">
                                    </div>
                                    <small *ngIf="!validFile" class="text-danger ">
                                        *Solo archivos de tipo {{ filesValid.join(', ') }}
                                    </small>
                                    <small *ngIf="validFile" class="text-success ">
                                        ¡Archivo cargado!
                                    </small>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-sm table-bordered mb-0 text-center">
                                <thead>
                                    <tr class="table-light">
                                        <td></td>
                                        <td>Producto</td>
                                        <td> {{bodyPayment.paymentyType === 'UE' ? 'Utilidad empresa' : 'Ingreso producto'}} </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of dataDetail; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{detail.nombreProducto}}</td>
                                        <td class="text-right">
                                            {{ bodyPayment.paymentyType === 'UE' ? (detail.uBrutaEmpresa | number: '.2-2' ) : (detail.utilidadProducto | number: '.2-2')}}
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="2">Total</th>
                                        <th class="text-right">
                                            {{ dataDetail | sumUtilitie: bodyPayment.paymentyType | number: '.2-2' }}
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12" id="alertModalPayment">

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary " [disabled]="frmPayment.invalid || loading ||  bodyPayment.amountPayable < 1 || bodyPayment.amountPayable > bodyPayment.debt || bodyPayment.isPayed">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        {{ textButton }}
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmPaymentUtilitie" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmPayUtilitie" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">eliminar</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalshowVoucher" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Comprobante de pago</h4>
                <button type="button" id="btnCloseConfirmPayUtilitie" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="height: 300px; width: 100%" class="text-center">
                    <img [src]="srcVoucher" alt="" style="height: 300px; width: 100%;">
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered mb-0">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-center">
                                    Detalle de pago
                                </th>
                            </tr>
                            <!-- <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>User ID</th>
                            </tr> -->
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Fecha</th>
                                <td class="text-center"> {{infoPayment.datePay | date}} </td>
                            </tr>
                            <tr>
                                <th scope="row">Nro. operaci&oacute;n: </th>
                                <td class="text-center"> {{infoPayment.operation}} </td>
                            </tr>
                            <tr>
                                <th scope="row">Monto pagado:</th>
                                <td class="text-center"> {{infoPayment.amount | number:'.2-2'}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>