<!-- Employee profile -->
    <section class="page-users-view">
        <div class="row">
            <!-- account start -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Perfil del Empleado</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="users-view-image">
                                <img src="/../assets/vuexy/images/profile/user-uploads/user-13.jpg" class="users-avatar-shadow w-100 rounded mb-2 pr-2 ml-1" alt="avatar">
                            </div>
                            <div class="col-12 col-sm-9 col-md-6 col-lg-5">
                                <table>
                                    <tr>
                                        <td class="font-weight-bold">Nombres</td>
                                        <td>Arcia Salazar</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Apellidos</td>
                                        <td>Angelo Sashington</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Email</td>
                                        <td>angelo@sashington.com</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Teléfono</td>
                                        <td>+512326515</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12 col-md-12 col-lg-5">
                                <table class="ml-0 ml-sm-0 ml-lg-0">
                                    <tr>
                                        <td class="font-weight-bold">Status</td>
                                        <td>Activo</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Area</td>
                                        <td>Departamento de Sistemas</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Empresa</td>
                                        <td>Maximo GT SAC</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Sede</td>
                                        <td>Arenales</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-12">
                                <a href="" class="btn btn-primary mr-1"><i class="feather icon-edit-1"></i> Editar</a>
                               <!-- <button class="btn btn-outline-danger"><i class="feather icon-trash-2"></i> Eliminar</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- account end -->
            <!-- information start -->
            <div class="col-md-4 col-12 ">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title mb-2">Información</div>
                    </div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <td class="font-weight-bold">Fecha Nacimiento </td>
                                <td>28 Enero 1998
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Sexo</td>
                                <td>Masculino</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Estado Civil</td>
                                <td>Soltero
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nacionalidad</td>
                                <td>Perú</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nº Documento</td>
                                <td>23946329</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Dirección</td>
                                <td>Av arenales 2523</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- information start -->
            <!-- datos bancarios start -->
            <div class="col-md-4 col-12 ">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title mb-2">Datos Bancarios</div>
                    </div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <td class="font-weight-bold">Banco</td>
                                <td> BCP
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Tipo de Cuenta</td>
                                <td>Corriente
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Nº Cuenta</td>
                                <td>4551515
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">CCI</td>
                                <td>541815154
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">-</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">-</td>
                                <td>
                                </td>
                            </tr>
                        
                        </table>
                    </div>
                </div>
            </div>
            <!-- datos bancarios end -->
            <!-- Acuerdos Laborales start -->
            <div class="col-md-4 col-12 ">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title mb-2">Acuerdos Laborales</div>
                    </div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <td class="font-weight-bold">Sueldo</td>
                                <td> S/. 2000
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Tipo de Pago</td>
                                <td>Quincenal 
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Fecha Inicio</td>
                                <td>27 Octubre 2020
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Fecha Contrato</td>
                                <td>28 Noviembre 2020   
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">-</td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">-</td>
                                <td>
                                </td>
                            </tr>
                        
                        </table>
                    </div>
                </div>
            </div>
            <!-- Acuerdos Laborales end -->
            
            <!-- permissions start -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom mx-2 px-0">
                        <h6 class="border-bottom py-1 mb-0 font-medium-2"><i class="feather icon-file-text mr-50 "></i>Documentos y Archivos
                        </h6>
                    </div>
                    <div class="card-body px-75">
                       <p>Here employee documents and files.</p>
                    </div>
                </div>
            </div>
            <!-- permissions end -->
        </div>
    </section>
    <!-- Employe profile end-->
