<div class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page">
    <br>
    <br>

    <div class="content-body  text-center text-capitalize">
        <!-- error 404 -->
        <section class="row flexbox-container">
            <div class="col-1"></div>
            <div class="col-sm-10 d-flex justify-content-center">

                <div class="card auth-card bg-transparent shadow-none rounded-0 mb-0 w-100">
                    <div class="card-content">
                        <div class="card-body text-center">
                            <img src="../../../assets/vuexy/images/pages/404.png" class="img-fluid align-self-center" alt="branding logo">
                            <h1 class="font-large-2 my-1">404 - Page Not Found!</h1>
                            <p class="p-2">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eum cum quisquam dolores odio assumenda voluptate! Dolorum, doloribus similique deleniti voluptas earum modi eum aspernatur molestiae hic possimus temporibus aut!.
                            </p>
                            <a class="btn btn-primary btn-lg mt-2" routerLink="/admin/dashboard">Volver a inicio</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </section>
        <!-- error 404 end -->

    </div>

</div>