<div id="user-profile">
    <div class="row">
        <div class="col-12">
            <div class="profile-header mb-2">
                <div class="relative">
                    <div class="profile-img-container d-flex align-items-center justify-content-between">
                        <img src="{{uriApi + dataProfile.imagen + '?token=' + token }} " class="rounded-circle img-border box-shadow-1" alt="Foto de perfil del Usuario">
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center profile-header-nav">
                    <nav class="navbar navbar-expand-sm w-100 pr-0">
                        <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="feather icon-align-justify"></i></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-fill justify-content-around w-75 ml-sm-auto" id="myTab" role="tablist">
                                <li class="nav-item px-sm-0">
                                    <a class="nav-link active" id="sucursalesTab" data-toggle="tab" href="#sucursales" role="tab" aria-controls="sucursales" aria-selected="true">Sucursales</a>
                                </li>
                                <li class="nav-item px-sm-0">
                                    <a class="nav-link" id="pagosTab" data-toggle="tab" href="#pagos" role="tab" aria-controls="pagos" aria-selected="false">Pagos</a>
                                </li>
                                <li class="nav-item px-sm-0">
                                    <a class="nav-link" id="messages-tab-fill" data-toggle="tab" href="#reportPartner" role="tab" aria-controls="messages-fill" aria-selected="false">Reportes</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section id="profile-info">
        <div class="row">
            <div class="col-lg-3 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="user-page-info">
                            <h4>{{ dataProfile.apellidoNombre }}</h4>
                            <p>Socio</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="">
                            <h6 class="mb-0">Nro. Documento:</h6>
                            <p>{{dataProfile.documento}}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Nacionalidad:</h6>
                            <p>{{ dataProfile.nombrePais }}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Fecha Nacimiento:</h6>
                            <p>{{ dataProfile.fechaNacimiento | date }}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Sexo:</h6>
                            <p>{{ dataProfile.sexo | sex }}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Dirección:</h6>
                            <p>{{ dataProfile.direccion }}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Teléfono:</h6>
                            <p>{{ dataProfile.telefono }}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Email:</h6>
                            <p>{{ dataProfile.email }}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Cant. Sucursales:</h6>
                            <p>{{ dataProfile.totalSucursales }}</p>
                        </div>
                        <div class="mt-1">
                            <h6 class="mb-0">Responsable:</h6>
                            <a href="">
                                <p>{{ dataProfile.responsable }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-12">

                <!-- Tab panes -->
                <div class="tab-content pt-1">
                    <div class="tab-pane active" id="sucursales" role="tabpanel" aria-labelledby="sucursalesTab">
                        <div class="row">
                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-start pb-0">
                                        <div>
                                            <h2 class="text-bold-700 mb-0">{{ productMaxUtilitie }}</h2>
                                            <p>Producto que mas ingreso le genera</p>


                                            <!-- <div class="row">
                                                <div class="col-6">
                                                    <select class="form-control" name="monthChart" [(ngModel)]="bodyChart.month" (change)="onGetUtilitieProduct()">
                                                        <option *ngFor="let month of dataMonths" [value]="month.id">
                                                            {{ month.value }}
                                                        </option>                                                                
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <select class="form-control" name="yearChart" [(ngModel)]="bodyChart.year" (change)="onGetUtilitieProduct()">
                                                        <option *ngFor="let year of dataYears" [value]="year">
                                                            {{ year }}
                                                        </option>                                                                
                                                    </select>
                                                </div>
                                            </div> -->

                                        </div>
                                        <div class="avatar bg-rgba-success p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-cpu text-success font-medium-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="card-content">

                                        <div class="row">
                                            <div class="col-12">
                                                <canvas baseChart style="max-width: 400px;" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="true" chartType="bar">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-start pb-0">
                                        <div>
                                            <h2 class="text-bold-700 mb-0">{{ productMinUtilitie }}</h2>
                                            <p>Producto que menos ingreso le genera en el periodo</p>
                                        </div>
                                        <div class="avatar bg-rgba-success p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-cpu text-success font-medium-5"></i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th colspan="6" class="text-center">
                                                    <h5>Sucursales</h5>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    Nombre
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': qName != ''}"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <fieldset class="form-label-group form-group position-relative has-icon-left input-divider-left">
                                                                <input type="text" class="form-control" name="qName" [(ngModel)]="qName" placeholder="Buscar por nombre" (change)="onGetOfficeBranch()">
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-search"></i>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>
                                                    Tipo
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': qType != 'ALL'}" ></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <div class="form-group">
                                                                <ul class="list-unstyled mb-0">
                                                                    <li class="d-block mr-2">
                                                                        <fieldset>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="rbtType" id="rbtTypePoint" value="POINTSALE" [(ngModel)]="qType" (change)="onGetOfficeBranch()">
                                                                                <label class="custom-control-label" for="rbtTypePoint">Punto de venta</label>
                                                                            </div>
                                                                        </fieldset>
                                                                    </li>
                                                                    <li class="d-block mr-2">
                                                                        <fieldset>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="rbtType" id="rbtTypeBet" value="BETHOUSE" [(ngModel)]="qType" (change)="onGetOfficeBranch()">
                                                                                <label class="custom-control-label" for="rbtTypeBet">Casa de apuesta</label>
                                                                            </div>
                                                                        </fieldset>
                                                                    </li>
                                                                    <li class="d-block mr-2">
                                                                        <fieldset>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="rbtType" id="rbtTypeAll" value="ALL" [(ngModel)]="qType" (change)="onGetOfficeBranch()" checked>
                                                                                <label class="custom-control-label" for="rbtTypeAll">Todo</label>
                                                                            </div>
                                                                        </fieldset>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>
                                                    Ubigeo
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': qUbigeo != ''}"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <fieldset class="form-label-group form-group position-relative has-icon-left input-divider-left">
                                                                <input type="text" class="form-control" name="qUbigeo" [(ngModel)]="qUbigeo" placeholder="Buscar por ubigeo" (change)="onGetOfficeBranch()">
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-search"></i>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>
                                                    Juegos
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': qProduct != ''}"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <fieldset class="form-label-group form-group position-relative has-icon-left input-divider-left">
                                                                <input type="text" class="form-control" name="qProduct" [(ngModel)]="qProduct" placeholder="Buscar por juego" (change)="onGetOfficeBranch()">
                                                                <div class="form-control-position">
                                                                    <i class="feather icon-search"></i>
                                                                </div>
                                                            </fieldset>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let branch of dataOffice; let i = index">
                                                <th> {{ i + 1}} </th>
                                                <td>{{ branch.nombreSucursal }}</td>
                                                <td>{{ branch.tipoSucursal | typeBranch }}</td>
                                                <td>{{ branch.ubigeoConvert }}</td>
                                                <td>
                                                    {{ branch.productos }}
                                                </td>
                                                <td class="text-center">
                                                    <button type="button" data-toggle="modal" data-target="#modalUbigeoBranch" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onLoadMapBranch( branch.idSucursal )">
                                                        <i class="feather icon-map-pin" data-toggle="tooltip"
                                                            data-placement="top" title="Ver ubicación en Google Maps"
                                                            aria-hidden="true"></i>
                                                    </button>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="pagos" role="tabpanel" aria-labelledby="pagosTab">
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-start pb-0">
                                        <div>
                                            <h4>Periodo</h4>

                                        </div>
                                        <div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <select class="form-control" name="monthChart" [(ngModel)]="qMonthPay" (change)="onGetPayment()">
                                                        <option *ngFor="let month of dataMonths" [value]="month.id">
                                                            {{ month.value }}
                                                        </option>                                                                
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <select class="form-control" name="yearChart" [(ngModel)]="qYearPay" (change)="onGetPayment()">
                                                        <option *ngFor="let year of dataYears" [value]="year">
                                                            {{ year }}
                                                        </option>                                                                
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header d-flex align-items-start pb-0">
                                        <div>
                                            <h4 class="text-bold-700 mb-0 text-right"> {{ dataPayments | totalDebPay:'pay' | number: '.2-2' }} </h4>
                                            <p>Total Pagado</p>
                                        </div>
                                        <div class="avatar bg-rgba-success p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-cpu text-success font-medium-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-4">
                                <div class="card">
                                    <div class="card-header d-flex align-items-start pb-0">
                                        <div>
                                            <h4 class="text-bold-700 mb-0"> {{ dataPayments | totalDebPay:'debt' }} </h4>
                                            <p>Total Pendiente</p>
                                        </div>
                                        <div class="avatar bg-rgba-danger p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-server text-danger font-medium-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th colspan="7" class="text-center">
                                                    <h5>Pagos realizados en el preiodo </h5>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>#</th>
                                                <th>
                                                    Sucursal
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': qBranch != ''}" ></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="qBranch" [(ngModel)]="qBranch" placeholder="Buscar por sucursal" (change)="onGetPayment()">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>Monto a pagar
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" 
                                                        [ngClass]="{'text-primary': ( qDebtLte > 0 || qDebtGte > 0 || qDebtEq > 0)}" >
                                                        </i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <div class="form-group">
                                                                <div class="form-group">

                                                                    <div class="position-relative has-icon-left">
                                                                        <input type="number" class="form-control" name="qDebtLte" [(ngModel)]="qDebtLte" (change)="onGetPayment()">

                                                                        <div class="form-control-position">
                                                                            &le;
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="position-relative has-icon-left">
                                                                        <input type="number" class="form-control" name="qDebtGte" [(ngModel)]="qDebtGte" (change)="onGetPayment()">

                                                                        <div class="form-control-position">
                                                                            &ge;
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="position-relative has-icon-left">
                                                                        <input type="number" class="form-control" name="qDebtEq" [(ngModel)]="qDebtEq" (change)="onGetPayment()">

                                                                        <div class="form-control-position">
                                                                            =
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>Monto pagado
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': ( qPayLte > 0 || qPayGte > 0 || qPayEq > 0)}" ></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <div class="form-group">
                                                                <div class="form-group">

                                                                    <div class="position-relative has-icon-left">
                                                                        <input type="number" class="form-control" name="qPayLte" [(ngModel)]="qPayLte" (change)="onGetPayment()">

                                                                        <div class="form-control-position">
                                                                            &le;
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="position-relative has-icon-left">
                                                                        <input type="number" class="form-control" name="qPayGte" [(ngModel)]="qPayGte" (change)="onGetPayment()">

                                                                        <div class="form-control-position">
                                                                            &ge;
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="position-relative has-icon-left">
                                                                        <input type="number" class="form-control" name="qPayEq" [(ngModel)]="qPayEq" (change)="onGetPayment()">

                                                                        <div class="form-control-position">
                                                                            =
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>Nº Operación
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': qOperation != ''}" ></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="qOperation" [(ngModel)]="qOperation" placeholder="Buscar por sucursal" (change)="onGetPayment()">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>Banco
                                                    <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-filter" [ngClass]="{'text-primary': qBank != ''}" ></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <form class="px-2 py-2">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" name="qBank" [(ngModel)]="qBank" placeholder="Buscar por sucursal" (change)="onGetPayment()">
                                                            </div>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th>Fecha</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let payment of dataPayments; let i = index; ">
                                                <th> {{ i + 1 }} </th>
                                                <td> {{ payment.nombreSucursal }} </td>
                                                <td class="text-right"> {{ payment.deuda | number:'.2-2' }} </td>
                                                <td class="text-right"> {{ payment.montoPagar | number:'.2-2' }} </td>
                                                <td class="text-center"> {{ payment.operacion }} </td>
                                                <td> {{ payment.nombreBanco }} </td>
                                                <td> {{ payment.fechaOperacion | date }} </td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1">
                                                        <i class="feather icon-image" data-toggle="tooltip"
                                                            data-placement="top" title="Ver capture de pago"
                                                            aria-hidden="true"></i>
                                                    </button>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="reportPartner" role="tabpanel" aria-labelledby="messages-tab-fill">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-start pb-0">
                                        <div>
                                            <h4 class="text-bold-700 mb-0">Ingreso por producto en el periodo</h4>

                                            <div class="row">
                                                <div class="col-6">
                                                    <select class="form-control" name="monthChart" [(ngModel)]="bodyChart.month" (change)="onGetUtilitieProduct()">
                                                        <option *ngFor="let month of dataMonths" [value]="month.id">
                                                            {{ month.value }}
                                                        </option>                                                                
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <select class="form-control" name="yearChart" [(ngModel)]="bodyChart.year" (change)="onGetUtilitieProduct()">
                                                        <option *ngFor="let year of dataYears" [value]="year">
                                                            {{ year }}
                                                        </option>                                                                
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="avatar bg-rgba-success p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-cpu text-success font-medium-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card-content" style="padding: 50px;">

                                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="true" chartType="bar">
                                        </canvas>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header d-flex align-items-start pb-0">
                                        <div>
                                            <h4 class="text-bold-700 mb-0"> Utilidades por sucursal </h4>
                                            <p>Cuadro estadistico de utilidades mensuales por sucursal</p>
                                        </div>
                                        <div class="avatar bg-rgba-success p-50 m-0">
                                            <div class="avatar-content">
                                                <i class="feather icon-cpu text-success font-medium-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="card-content" style="padding: 50px;">

                                        <canvas baseChart [datasets]="barChartDataOffice" [labels]="barChartLabelsOffice" [options]="barChartOptionsOffice" [plugins]="barChartPlugins" [legend]="true" chartType="bar">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>


</div>

<!-- Modal para modificar ubicación en mapa -->

<div class="modal fade" id="modalUbigeoBranch" tabindex="-1" role="dialog" aria-labelledby="modalUbigeoBranchTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Ubicaci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div #mapBranch id="mapBranch" style="height: 400px;">

                </div>

                <div #infowindowcontent id="infowindowcontent">
                    <img src="https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png" width="16" height="16">
                    <span id="place-name" class="title">
                        <strong id="titleBranch">
                        </strong>
                    </span><br>
                    <span id="addressBranch">
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>