<div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card collapse-icon accordion-icon-rotate">
            <div class="card-body">
                <div class="accordion" id="accordionExample" data-toggle-hover="true">
                    <div class="collapse-margin">
                        <div class="card-header" id="headingOne" data-toggle="collapse" role="button" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="lead collapse-title collapsed">
                                Accordion Item 1
                            </span>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Pastry pudding cookie toffee bonbon jujubes jujubes powder topping. Jelly beans gummi bears sweet roll bonbon muffin liquorice. Wafer lollipop sesame snaps.
                            </div>
                        </div>
                    </div>
                    <div class="collapse-margin">
                        <div class="card-header" id="headingTwo" data-toggle="collapse" role="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="lead collapse-title collapsed">
                                Accordion Item 2
                            </span>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Sweet pie candy jelly. Sesame snaps biscuit sugar plum. Sweet roll topping fruitcake. Caramels liquorice biscuit ice cream fruitcake cotton candy tart.
                            </div>
                        </div>
                    </div>
                    <div class="collapse-margin">
                        <div class="card-header" id="headingThree" data-toggle="collapse" role="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="lead collapse-title">
                                Accordion Item 3
                            </span>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Tart gummies dragée lollipop fruitcake pastry oat cake. Cookie jelly jelly macaroon icing jelly beans soufflé cake sweet. Macaroon sesame snaps cheesecake tart cake sugar plum.
                            </div>
                        </div>
                    </div>
                    <div class="collapse-margin">
                        <div class="card-header" id="headingFour" data-toggle="collapse" role="button" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <span class="lead collapse-title">
                                Accordion Item 4
                            </span>
                        </div>
                        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Cheesecake muffin cupcake dragée lemon drops tiramisu cake gummies chocolate cake. Marshmallow tart croissant. Tart dessert tiramisu marzipan lollipop lemon drops.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title">Video Card</h4>
                </div>
                <div class="embed-responsive embed-responsive-item embed-responsive-16by9">
                    <iframe class="img-thumbnail" src="https://www.youtube.com/embed/vTlSEMdC5qw" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <p class="card-text">Candy cupcake sugar plum oat cake wafer marzipan jujubes.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <h4 class="card-title tituloUno">Feedback Form</h4>
                </div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label for="feedback1" class="sr-only">{{miNombre}}</label>
                                <input type="text" id="feedback1" class="form-control" placeholder="Name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="feedback2" class="sr-only">Email</label>
                                <input type="email" id="feedback2" class="form-control" placeholder="Email" name="email">
                            </div>

                            <div class="form-group">
                                <label for="feedback3" class="sr-only">Suggestion</label>
                                <textarea id="feedback3" rows="3" class="form-control" name="message" placeholder="Suggestion"></textarea>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary mr-1">{{ titleButton }}</button>
                            <button type="reset" class="btn btn-outline-warning">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>