<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Gesti&oacute;n de gastos</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="6">
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalExpense" id="btnShowModalExpense">
                                                Nuevo
                                            </button>
                                        </th>
                                        <th colspan="4">
                                            <div class="row">
                                                <div class="col-12" id="alertExpenseTable">

                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Numeraci&oacute;n
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qNumeration" [(ngModel)]="qNumeration" placeholder="Buscar por numeraci&oacute;n" (change)="onGetListExpense(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Comprobante
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qVoucher" [(ngModel)]="qVoucher" placeholder="Buscar por numeraci&oacute;n" (change)="onGetListExpense(1)">
                                                    </div>
                                                </form>
                                            </div>

                                        </th>
                                        <th>
                                            Fecha emisi&oacute;n

                                        </th>

                                        <th>
                                            Total
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <div class="form-group">

                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qLteTotal" [(ngModel)]="qLteTotal" (change)="onGetListExpense(1)">

                                                                <div class="form-control-position">
                                                                    &ge;
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qGteTotal" [(ngModel)]="qGteTotal" (change)="onGetListExpense(1)">

                                                                <div class="form-control-position">
                                                                    &le;
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="position-relative has-icon-left">
                                                                <input type="number" class="form-control" name="qEqTotal" [(ngModel)]="qEqTotal" (change)="onGetListExpense(1)">

                                                                <div class="form-control-position">
                                                                    =
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div>
                                        </th>

                                        <th>
                                            Sucursal
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qOffice" [(ngModel)]="qOffice" placeholder="Buscar por sucursal" (change)="onGetListExpense(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>

                                        <th>
                                            Socio
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qPartner" [(ngModel)]="qPartner" placeholder="Buscar por socio" (change)="onGetListExpense(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th></th>

                                        <th>Fecha registro</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="dataExpense.length === 0">
                                        <td colspan="10">
                                            <span class="text-center">Sin registros.</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let expense of dataExpense | rowIndex:pagination.currentPage:rowsForPage">
                                        <th scope="row">{{expense.rowIndex}}</th>
                                        <td class="text-center">
                                            {{expense.correlativo}}
                                        </td>
                                        <td>
                                            {{ expense.descripcionComprobante }}
                                        </td>
                                        <td class="text-center">
                                            {{expense.fechaEmision | date}}
                                        </td>
                                        <td class="text-right">
                                            <small class="text-primary">
                                                {{ expense.codigoMoneda }}
                                            </small> {{expense.totalGasto | number:'.2-2'}}
                                        </td>
                                        <td>
                                            {{expense.nombreSucursal}}
                                        </td>
                                        <td>
                                            {{expense.apellidoNombre}}
                                        </td>
                                        <td class="text-center">
                                            <span *ngIf="expense.archivoComprobante">
                                                <a href="{{apiDonwland}}{{expense.archivoComprobante}}?token={{ token }}" target="_blank" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1">
                                                    <i class="feather icon-download-cloud "></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td> {{expense.fechaRegistro | date:'medium':'':'es'}} </td>
                                        <td>
                                            <button *ngIf="expense.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditExpense( expense.idGastoSucursal )" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="feather icon-edit"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmExpense" (click)="onShowConfirm( expense.idGastoSucursal )" [title]="actionConfirm">
                                                <i [ngClass]="{'feather icon-trash-2': expense.estadoRegistro, 'fa fa-undo': !expense.estadoRegistro}" class=""></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="select2 form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="onGetListExpense(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="onGetListExpense(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td colspan="7">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="onGetListExpense(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="onGetListExpense(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="onGetListExpense(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade text-left" id="modalExpense" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> {{ titleModal }} </h4>
                <button type="button" id="btnCloseModalExpense" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmExpense="ngForm" id="frmExpense" (submit)="onSubmitExpense(frmExpense)">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Socio</label>
                                <select class="form-control" name="cbxPartner" #cbxPartner="ngModel" [(ngModel)]="bodyExpense.idPartner" (change)="onChangePartner()" required [ngClass]="{'is-invalid': cbxPartner.errors?.required && cbxPartner.touched,
                                'is-valid': !cbxPartner.errors?.required && cbxPartner.touched}">
                                    <option value="null" disabled selected> -- SELECCIONE -- </option>
                                    <option *ngFor="let partner of dataPattern" [value]="partner.idSocio"> 
                                        {{partner.apellidoNombre}}
                                    </option>
                                </select>

                                <span *ngIf="cbxPartner.errors?.required && cbxPartner.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="">Sucursal</label>
                            <select class="form-control" name="cbxBranch" #cbxBranch="ngModel" [(ngModel)]="bodyExpense.idBranchOffice" required [ngClass]="{'is-invalid': cbxBranch.errors?.required && cbxBranch.touched,
                                'is-valid': !cbxBranch.errors?.required && cbxBranch.touched}">
                                <option value="null" disabled selected> -- SELECCIONE -- </option>
                                <option *ngFor="let branch of dataOfficeBranch" [value]="branch.idSucursal"> 
                                    {{branch.nombreSucursal}}
                                </option>
                            </select>

                            <span *ngIf="cbxBranch.errors?.required && cbxBranch.touched" class="text-danger">
                                *Requerido
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Tipo comprobante</label>
                                <select class="form-control" name="cbxTypeVoucher" #cbxVoucher="ngModel" [(ngModel)]="bodyExpense.idTypeVoucher" required [ngClass]="{'is-invalid': cbxVoucher.errors?.required && cbxVoucher.touched,
                                'is-valid': !cbxVoucher.errors?.required && cbxVoucher.touched}">
                                    <option value="null" disabled selected> -- SELECCIONE -- </option>
                                    <option *ngFor="let typeVoucher of dataTypeVoucher" [value]="typeVoucher.idComprobante"> 
                                        {{typeVoucher.descripcionComprobante}}
                                    </option>
                                </select>

                                <span *ngIf="cbxVoucher.errors?.required && cbxVoucher.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Fecha emisi&oacute;n</label>
                                <input type="date" class="form-control" name="dateEmission" #emission="ngModel" [(ngModel)]="bodyExpense.dateEmission" required [ngClass]="{'is-invalid': emission.errors?.required && emission.touched,
                                'is-valid': !emission.errors?.required && emission.touched}">
                                <span *ngIf="emission.errors?.required && emission.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">

                            <div class="form-group">
                                <label for="">Tipo de gasto</label>
                                <select class="form-control" name="idTypeExpense" [(ngModel)]="bodyExpense.idTypeExpense" #typeExpense="ngModel" [ngClass]="{'is-invalid': typeExpense.errors?.required && typeExpense.touched, 
                                'is-valid': !typeExpense.errors?.required && typeExpense.touched}" required>
                                    <option selected disabled value="null" selected> -- Seleccione -- </option>
                                    <option *ngFor="let typeExpense of dataTypeExpense" [value]="typeExpense.idTipoGasto">
                                        {{typeExpense.nombreGasto}}
                                    </option>
                                </select>
                                <span *ngIf="typeExpense.errors?.required && typeExpense.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>

                        </div>
                        <div class="col-3">

                            <div class="form-group">
                                <label for="">Moneda</label>
                                <select class="form-control " name="cbxMoney" #cbxMoney="ngModel" [(ngModel)]="bodyExpense.idMoney" required [ngClass]="{'is-invalid': cbxMoney.errors?.required && cbxMoney.touched, 
                                'is-valid': !cbxMoney.errors?.required && cbxMoney.touched}">
                                    <option value="null">-- Seleccione --</option>
                                    <option *ngFor="let money of dataMoney" [value]="money.idMoneda">
                                        {{money.nombreMoneda}}
                                    </option>
                                    
                                </select>
                                <span *ngIf="cbxMoney.errors?.required && cbxMoney.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">Total</label>
                                <input type="number" class="form-control text-right" name="totalExpense" #total="ngModel" [(ngModel)]="bodyExpense.totalExpense" required [ngClass]="{'is-invalid': (total.errors?.required || bodyExpense.totalExpense <= 0) && total.touched, 
                                'is-valid': !total.errors?.required && bodyExpense.totalExpense > 0 && total.touched}">
                                <span *ngIf="total.errors?.required && total.touched" class="text-danger">
                                    *Requerido
                                </span>

                                <span *ngIf="bodyExpense.totalExpense <= 0 && total.touched" class="text-danger">
                                    *El total no puede ser cero
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">Observaci&oacute;n</label>
                                <textarea class="form-control" name="txtObservation" [(ngModel)]="bodyExpense.observation" #obs="ngModel" maxlength="200" cols="80" rows="3" pattern="[A-Za-z0-9aéíóúüñÁÉÍÓÚÜÑ\ \,\.\-\_\(\)\#]{0,}" [ngClass]="{'is-invalid': obs.errors?.pattern && obs.touched, 'is-valid': !obs.errors?.pattern && obs.touched}">

                                </textarea>
                                <span *ngIf="obs.errors?.pattern && obs.touched" class="text-center">
                                    Solo letras, n&uacute;meros y (,.-#)
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="form-group text-center">
                                <label for="fileExpense" style="cursor: pointer;">
                                    <img [src]="srcFile" alt="" width="100">
                                </label>
                                <input type="file" id="fileExpense" style="display: none;" (change)="onChangeFileExpense( $event.target.files )" multiple="false">
                            </div>
                            <span *ngIf="!validFile" class="text-danger ">
                                *Solo archivos de tipo {{ filesValid.join(', ') }}
                            </span>
                            <span *ngIf="validFile" class="text-success ">
                                {{ nameFileExpense }}
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12" id="alertExpenseModal">

                        </div>
                        <!-- <div class="col"></div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="frmExpense.invalid || loading" class="btn btn-primary ">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        {{textButton}}
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmExpense" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmExpense" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">{{ actionConfirm }}</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>