<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Gesti&oacute;n socios</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="5">
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalPartner" id="btnShowModalPartner">
                                                Nuevo
                                            </button>
                                        </th>
                                        <th colspan="4" id="alertPartnerTable">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Apellidos y nombres
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="queryName" [(ngModel)]="qName" placeholder="Buscar por nombre" (change)="onGetListPartner(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th style="width: 150px;">
                                            Documento
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="queryDocument" [(ngModel)]="qDocument" placeholder="Buscar por documento" (change)="onGetListPartner(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Usuario
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qName" [(ngModel)]="qUsuario" placeholder="Buscar por usuario" (change)="onGetListPartner(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>

                                        <th>
                                            Directo empresa
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">

                                                        <ul class="list-unstyled mb-0">
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtDirect" id="rbtDirectYes" value="1" [(ngModel)]="qDirectCompany" (change)="onGetListPartner(1)">
                                                                        <label class="custom-control-label" for="rbtDirectYes">S&iacute;</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtDirect" id="rbtDirectNo" value="0" [(ngModel)]="qDirectCompany" (change)="onGetListPartner(1)">
                                                                        <label class="custom-control-label" for="rbtDirectNo">No</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtDirect" id="rbtDirectAll" value="2" [(ngModel)]="qDirectCompany" (change)="onGetListPartner(1)" selected>
                                                                        <label class="custom-control-label" for="rbtDirectAll">Todo</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            ¿Habilitado?
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">

                                                        <ul class="list-unstyled mb-0">
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtAllow" id="rbtAllowYes" value="1" [(ngModel)]="qAllow" (change)="onGetListPartner(1)">
                                                                        <label class="custom-control-label" for="rbtAllowYes">S&iacute;</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtAllow" id="rbtAllowNo" value="0" [(ngModel)]="qAllow" (change)="onGetListPartner(1)">
                                                                        <label class="custom-control-label" for="rbtAllowNo">No</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtAllow" id="rbtAllowAll" value="2" [(ngModel)]="qAllow" (change)="onGetListPartner(1)" checked>
                                                                        <label class="custom-control-label" for="rbtAllowAll">Todo</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            <span class="thJustify">Email</span>
                                        </th>
                                        <th>
                                            <span class="thJustify">Fecha registro</span>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="dataPartner.length === 0">
                                        <td colspan="9">
                                            <span class="text-center">Sin registros.</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let partner of dataPartner | rowIndex:pagination.currentPage:rowsForPage">
                                        <th scope="row">{{partner.rowIndex}}</th>
                                        <td> {{partner.apellidoNombre}} </td>
                                        <td class="text-center">
                                            {{partner.documento}}
                                        </td>
                                        <td> {{partner.nombreUsuario}} </td>
                                        <td class="text-center">
                                            {{partner.directoEmpresa | directCompany }}
                                        </td>
                                        <td class="text-center">
                                            {{partner.habilitado | allowBussiness}}
                                        </td>
                                        <td> {{partner.email}} </td>
                                        <td> {{partner.fechaRegistro | date:'medium':'':'es'}} </td>
                                        <td>
                                            <button *ngIf="partner.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditPartner( partner.idSocio )" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="feather icon-edit"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmPartner" (click)="onShowConfirm( partner.idSocio )" [title]="actionConfirm">
                                                <i [ngClass]="{'feather icon-trash-2': partner.estadoRegistro, 'fa fa-undo': !partner.estadoRegistro}" class=""></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="select2 form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="onGetListPartner(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="onGetListPartner(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td colspan="4">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="onGetListPartner(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="onGetListPartner(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="onGetListPartner(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade text-left" id="modalPartner" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> {{ titleModal }} </h4>
                <button type="button" id="btnCloseModalPartner" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmPartner="ngForm" id="frmPartner" (submit)="onSubmitPartner(frmPartner)">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="first-name-icon">Identificaci&oacute;n</label>
                                <div class="position-relative has-icon-left">
                                    <select class="form-control" name="typeDocument" [(ngModel)]="bodyPartner.idTypeDocument" #typeDoc="ngModel" [ngClass]="{'is-invalid': typeDoc.errors?.required && typeDoc.touched, 'is-valid': !typeDoc.errors?.required && typeDoc.touched}" required (change)="onChangeTypeDocument()">

                                        <option selected disabled value="null"> -- Seleccione -- </option>
                                        <option *ngFor="let typeDoc of dataTypeDocument" [value]="typeDoc.idTipoDocumento">
                                            {{typeDoc.descripcion}}
                                        </option>
                                    </select>

                                    <div class="form-control-position">
                                        <i class="feather icon-user-check"></i>
                                    </div>
                                </div>

                                <span *ngIf="typeDoc.errors?.required && typeDoc.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="">Nro. Documento</label>
                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control" name="document" [(ngModel)]="bodyPartner.document" placeholder="Nro. Documento" #document="ngModel" [ngClass]="{'is-invalid': (document.errors?.required || document.errors?.pattern || document.errors?.minlength || document.errors?.maxLength ) && document.touched
                                    , 'is-valid': !document.errors?.required && !document.errors?.pattern && !document.errors?.minlength && !document.errors?.maxLength && document.touched}" required pattern="[0-9]{0,15}" [minlength]="lenghtDocument"
                                        [maxLength]="lenghtDocument">

                                    <div class="form-control-position">
                                        <i class="feather icon-hash"></i>
                                    </div>
                                </div>
                                <span *ngIf="document.errors?.required && document.touched" class="text-danger">
                                    *Requerido
                                </span>
                                <span *ngIf="document.errors?.minlength && document.touched" class="text-danger">
                                    *M&iacute;nimo {{lenghtDocument}} n&uacute;meros
                                </span>
                                <span *ngIf="document.errors?.maxLength && document.touched" class="text-danger">
                                    *M&aacute;ximo {{lenghtDocument}} n&uacute;meros
                                </span>
                                <span *ngIf="document.errors?.pattern && document.touched" class="text-danger">
                                    *solo n&uacute;meros
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">

                                <label>Apellidos</label>
                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control " name="surname" placeholder="Apellidos" [(ngModel)]="bodyPartner.surname" #surname="ngModel" [ngClass]="{'is-invalid': (surname.errors?.required || surname.errors?.pattern || surname.errors?.minlength) && surname.touched, 'is-valid': !surname.errors?.required && !surname.errors?.pattern && !surname.errors?.minlength && surname.touched}"
                                        required pattern="[a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ]{0,}" minlength="5">
                                    <div class="form-control-position">
                                        <i class="feather icon-italic"></i>
                                    </div>
                                </div>
                                <span *ngIf="surname.errors?.required && surname.touched" class="text-danger">
                                    *Requerido
                                </span>
                                <span *ngIf="surname.errors?.pattern && surname.touched" class="text-danger">
                                    *Solo letras
                                </span>
                                <span *ngIf="surname.errors?.minlength && surname.touched" class="text-danger">
                                    *M&iacute;nimo 5 car&aacute;cteres
                                </span>
                            </div>
                        </div>
                        <div class="col-5">
                            <label for="">Nombres</label>
                            <div class="position-relative has-icon-left">
                                <input type="text" class="form-control" name="name" placeholder="Nombres" [(ngModel)]="bodyPartner.name" #name="ngModel" [ngClass]="{'is-invalid': (name.errors?.required || name.errors?.pattern || name.errors?.minlength) && name.touched, 'is-valid': !name.errors?.required && !name.errors?.pattern && !name.errors?.minlength && name.touched}"
                                    required pattern="[a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ]{0,}" minlength="3">
                                <div class="form-control-position">
                                    <i class="feather icon-italic"></i>
                                </div>
                            </div>

                            <span *ngIf="name.errors?.required && name.touched" class="text-danger">
                                *Requerido
                            </span>
                            <span *ngIf="name.errors?.pattern && name.touched" class="text-danger">
                                *Solo letras
                            </span>
                            <span *ngIf="name.errors?.minlength && name.touched" class="text-danger">
                                *M&iacute;nimo 3 car&aacute;cteres
                            </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label for="txtAddress">Direcci&oacute;n</label>
                                <div class="position-relative has-icon-left">
                                    <input type="text" id="txtAddress" class="form-control" name="address" [(ngModel)]="bodyPartner.address" #address="ngModel" placeholder="Direcci&oacute;n" [ngClass]="{'is-invalid': (address.errors?.required || address.errors?.pattern || address.errors?.minlength || address.errors?.maxlength ) && address.touched, 'is-valid': !address.errors?.required && !address.errors?.pattern && !address.errors?.minlength && !address.errors?.maxlength && address.touched}"
                                        required pattern="[a-zA-Z0-9áéíóúüñÁÉÍÓÚÜ\ \,\.\-\#]{0,}" minlength="5" maxlength="250">

                                    <div class="form-control-position">
                                        <i class="feather icon-italic"></i>
                                    </div>
                                </div>


                                <span *ngIf="address.errors?.required && address.touched" class="text-danger">
                                    *Requerido
                                </span>
                                <span *ngIf="address.errors?.pattern && address.touched" class="text-danger">
                                    *Solo letras, n&uacute;meros y (, . - #)
                                </span>
                                <span *ngIf="address.errors?.minlength && address.touched" class="text-danger">
                                    *M&iacute;nimo 5 car&aacute;cteres
                                </span>
                                <span *ngIf="address.errors?.maxlength && address.touched" class="text-danger">
                                    *M&iacute;ximo 5 car&aacute;ctere
                                </span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="">Nacionalidad</label>
                                <div class="position-relative has-icon-left">
                                    <select class="form-control" name="nationality" [(ngModel)]="bodyPartner.idNationality" #nationality="ngModel" [ngClass]="{'is-invalid': nationality.errors?.required && nationality.touched, 'is-valid': !nationality.errors?.required && nationality.touched}"
                                        required>

                                        <option selected disabled value="null"> -- Seleccione -- </option>
                                        <option *ngFor="let itemNati of dataNationality" [value]="itemNati.idNacionalidad">
                                            {{itemNati.nombrePais}}
                                        </option>
                                    </select>

                                    <div class="form-control-position">
                                        <i class="feather icon-flag"></i>
                                    </div>
                                </div>
                                <span *ngIf="nationality.errors?.required && nationality.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label>Email</label>
                                <div class="position-relative has-icon-left">
                                    <input type="email" class="form-control" name="emailUser" [(ngModel)]="bodyPartner.email" #emailU="ngModel" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" placeholder="example@dominio.com" [ngClass]="{'is-invalid': ( emailU.errors?.required || emailU.errors?.pattern ) && emailU.touched, 'is-valid': !emailU.errors?.required && !emailU.errors?.pattern && emailU.touched}"
                                        required>
                                    <div class="form-control-position">
                                        <i class="feather icon-mail"></i>
                                    </div>
                                </div>

                                <span *ngIf="emailU.errors?.required && emailU.touched" class="text-danger">
                                    *Requerido
                                </span>
                                <span *ngIf="emailU.errors?.pattern && emailU.touched" class="text-danger">
                                    *Formato inv&aacute;valido, example@dominio.com
                                </span>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label>Tel&eacute;fono</label>
                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control" name="phone" placeholder="(+00) 000 0000" [(ngModel)]="bodyPartner.phone" #phone="ngModel" pattern="[0-9\ \(\)\+]{0,}" [ngClass]="{'is-invalid': phone.errors?.pattern && phone.touched, 'is-valid': !phone.errors?.pattern && phone.touched}">
                                    <div class="form-control-position">
                                        <i class="feather icon-smartphone"></i>
                                    </div>
                                </div>
                                <span *ngIf="phone.errors?.pattern && phone.touched" class="text-danger">
                                    *Solo n&uacute;meros, (+00) 000 0000
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">

                                <label>Sexo</label>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block mr-2">
                                        <fieldset>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="rbtSex" id="rbtM" value="M" [(ngModel)]="bodyPartner.sex" checked>
                                                <label class="custom-control-label" for="rbtM">Masculino</label>
                                            </div>
                                        </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                        <fieldset>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="rbtSex" id="rbtF" value="F" [(ngModel)]="bodyPartner.sex">
                                                <label class="custom-control-label" for="rbtF">Femenino</label>
                                            </div>
                                        </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                        <fieldset>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="rbtSex" id="rbtFO" value="O" [(ngModel)]="bodyPartner.sex">
                                                <label class="custom-control-label" for="rbtFO">Otro</label>
                                            </div>
                                        </fieldset>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label for="">Fecha nacimiento</label>
                                <div class="position-relative has-icon-left">
                                    <input type='date' class="form-control" name="dateBorn" [(ngModel)]="bodyPartner.dateBorn" [max]="maxDate" />
                                    <div class="form-control-position">
                                        <i class="feather icon-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="">¿Contacto directo con empresa?</label>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block mr-2">
                                        <fieldset>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="rbtDirectCompany" id="rbtYesDirec" value="true" [(ngModel)]="bodyPartner.directToCompany" (change)="onChangeDirectCompany()" checked>
                                                <label class="custom-control-label" for="rbtYesDirec">S&iacute;</label>
                                            </div>
                                        </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                        <fieldset>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="rbtDirectCompany" id="rbtNoDirec" value="false" [(ngModel)]="bodyPartner.directToCompany" (change)="onChangeDirectCompany()">
                                                <label class="custom-control-label" for="rbtNoDirec">No</label>
                                            </div>
                                        </fieldset>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="">¿Habilitar negocio?</label>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-inline-block mr-2">
                                        <fieldset>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="rbtAllowBussiness" id="rbtYesAllow" value="true" [(ngModel)]="bodyPartner.allowBussiness" checked>
                                                <label class="custom-control-label" for="rbtYesAllow">S&iacute;</label>
                                            </div>
                                        </fieldset>
                                    </li>
                                    <li class="d-inline-block mr-2">
                                        <fieldset>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="rbtAllowBussiness" id="rbtNoAllow" value="false" [(ngModel)]="bodyPartner.allowBussiness">
                                                <label class="custom-control-label" for="rbtNoAllow">No</label>
                                            </div>
                                        </fieldset>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                <label>Responsable</label>
                                <select class="form-control" name="cbxResponsable" [(ngModel)]="bodyPartner.idResponsable" #cbxResponsable="ngModel" [ngClass]="{
                                    'is-invalid': cbxResponsable.errors?.required && bodyPartner.directToCompany && cbxResponsable.touched, 
                                    'is-valid': !cbxResponsable.errors?.required && !bodyPartner.directToCompany && cbxResponsable.touched}" required [disabled]="bodyPartner.directToCompany">
                                    <option disabled selected value="null">  --Seleccione-- </option>
                                    <option *ngFor="let responsable of dataResponsable" [value]="responsable.idResponsable">{{responsable.apellidoNombre}}</option>
                                </select>

                                <span *ngIf="cbxResponsable.errors?.required && bodyPartner.directToCompany && cbxResponsable.touched" class="text-danger">
                                    *Requerido
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Usuario</label>
                                <div class="position-relative has-icon-left">
                                    <input type="text" class="form-control" name="userName" [(ngModel)]="bodyPartner.nameUser" #userName="ngModel" placeholder="Usuario" [ngClass]="{'is-invalid': (userName.errors?.required || userName.errors?.pattern || userName.errors?.minlength || userName.errors?.maxlength) && userName.touched,
                                    'is-valid': !userName.errors?.required && !userName.errors?.pattern && !userName.errors?.minlength && !userName.errors?.maxlength && userName.touched}" required pattern="[0-9a-zA-Z\@\.\-\_]{0,50}" minlength="9" maxlength="50">
                                    <div class="form-control-position">
                                        <i class="feather icon-user"></i>
                                    </div>
                                </div>

                                <span *ngIf="userName.errors?.required && userName.touched" class="text-danger">
                                    *Requerido
                                </span>
                                <span *ngIf="userName.errors?.pattern && userName.touched" class="text-danger">
                                    *Solo letras y n&uacute;meros sin espacios y sin &ntilde;
                                </span>
                                <span *ngIf="(userName.errors?.minlength || userName.errors?.maxlength )&& userName.touched" class="text-danger">
                                    *M&iacute;nimo 9, m&aacute;ximo 50 car&aacute;cteres
                                </span>
                            </div>

                            <div class="form-group" *ngIf="!loadData">
                                <label>Contrase&ntilde;a</label>
                                <div class="position-relative has-icon-left">
                                    <input type="password" class="form-control" name="userPassword" [(ngModel)]="bodyPartner.passwordUser" #passwordU="ngModel" placeholder="Contrase&ntilde;a" [ngClass]="{'is-invalid': (passwordU.errors?.required || passwordU.errors?.pattern || passwordU.errors?.minlength) && passwordU.touched, 
                                    'is-valid': !passwordU.errors?.required && !passwordU.errors?.pattern && !passwordU.errors?.minlength && passwordU.touched }" required pattern="(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).*" minlength="6">
                                    <div class="form-control-position">
                                        <i class="feather icon-lock"></i>
                                    </div>
                                </div>

                                <span *ngIf="passwordU.errors?.required && passwordU.touched" class="text-danger">
                                    *Requerido
                                </span>
                                <span *ngIf="passwordU.errors?.pattern && passwordU.touched" class="text-danger">
                                    *Debe contener una minuscula, mayuscula y un n&uacute;mero
                                </span>
                                <span *ngIf="passwordU.errors?.minlength && passwordU.touched" class="text-danger">
                                    *M&iacute;nimo 6 car&aacute;cteres
                                </span>
                            </div>

                            <div class="form-group" *ngIf="!loadData">
                                <label>Repita contrase&ntilde;a</label>
                                <div class="position-relative has-icon-left">
                                    <input type="password" class="form-control" name="userPasswordHash" [(ngModel)]="bodyPartner.repeatPassword" #passHash="ngModel" [ngClass]="{'is-invalid': ((bodyPartner.passwordUser != bodyPartner.repeatPassword) || passHash.errors?.required ) && passHash.touched, 
                                    'is-valid': (bodyPartner.passwordUser === bodyPartner.repeatPassword) && !passHash.errors?.required && passHash.touched}" placeholder="Repita contrase&ntilde;a" required>
                                    <div class="form-control-position">
                                        <i class="feather icon-lock"></i>
                                    </div>
                                </div>
                                <span *ngIf="passHash.errors?.required && passHash.touched" class="text-danger">
                                    *Es requerido
                                </span>
                                <span *ngIf="(bodyPartner.passwordUser != bodyPartner.repeatPassword) && passHash.touched" class="text-danger">
                                    *Las contase&ntilde;as no coinciden
                                </span>
                            </div>
                        </div>
                        <div class="col-6 text-center">
                            <div class="">

                                <img [src]="srcImage" class="rounded avatar" alt="profile image" height="84" width="84">
                            </div>
                            <div class=" text-center">

                                <div class="custom-file">
                                    &nbsp;&nbsp;
                                    <label class="btn btn-icon rounded-circle btn-outline-primary mr-1 mb-1 cursor-pointer " for="partnerUpload">
                                        <span *ngIf="loadImg" class="spinner-border spinner-border-sm" ></span>
                                        <i *ngIf="!loadImg" class="feather icon-share"></i>
                                    </label>
                                    <input type="file" id="partnerUpload" hidden (change)="onChangeImg($event.target.files)">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" id="alertPartnerModal">

                        </div>
                        <!-- <div class="col"></div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="frmPartner.invalid || loadImg" class="btn btn-outline-primary ">
                        <span *ngIf="loadImg" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        {{textButton}}
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmPartner" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmPartner" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">{{ actionConfirm }}</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" (click)="onUpdateStatus()" [disabled]="loading">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>