<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">&Aacute;reas</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin','dashboard']">Inicio</a>
                        </li>
                        <li class="breadcrumb-item"><a>Auditoria y seguridad</a>
                        </li>
                        <li class="breadcrumb-item active">&Aacute;reas
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Lista de &aacute;reas</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="2">
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalArea" id="btnShowModalArea">
                                                Nuevo
                                            </button>
                                        </th>
                                        <th colspan="3" id="alertAreaTable">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            &Aacute;rea
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qDoc" [(ngModel)]="qArea" placeholder="Buscar por documento" (change)="onGetListArea(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Empresa
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qName" [(ngModel)]="qEmpresa" placeholder="Buscar por razón social" (change)="onGetListArea(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>Fecha registro</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tr *ngIf="loadingTable">
                                    <td colspan="11" class="text-center">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>

                                <tbody *ngIf="!loadingTable">
                                    <tr *ngIf="dataArea.length === 0 && !loadingTable">
                                        <td colspan="5">
                                            <span class="text-center">Sin registros.</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let area of dataArea | rowIndex:pagination.currentPage:rowsForPage">
                                        <th scope="row">{{area.rowIndex}}</th>
                                        <td> {{area.nombreArea}} </td>
                                        <td> {{area.razonSocial}} </td>
                                        <td> {{area.fechaRegistro | date:'medium':'':'es'}} </td>
                                        <td>
                                            <button *ngIf="area.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditArea( area.idArea )" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="feather icon-edit"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmArea" (click)="onShowConfirm( area.idArea )" [title]="actionConfirm">
                                                <i [ngClass]="{'feather icon-trash-2': area.estadoRegistro, 'fa fa-undo': !area.estadoRegistro}" class=""></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="select2 form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="onGetListArea(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="onGetListArea(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td colspan="3">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="onGetListArea(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="onGetListArea(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="onGetListArea(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade text-left" id="modalArea" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> {{ titleModal }} </h4>
                <button type="button" id="btnCloseModalArea" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmArea="ngForm" id="frmArea" (submit)="onSubmitArea(frmArea)">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Nombre </label>
                                <input type="text" placeholder="Nombre área" class="form-control" name="txtArea" #nameArea="ngModel" required pattern="[0-9a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ]{3,40}" [(ngModel)]="bodyArea.nameArea" [ngClass]="{'is-invalid': (nameArea.errors?.required || nameArea.errors?.pattern) && nameArea.touched, 'is-valid': !nameArea.errors?.required && !nameArea.errors?.pattern && nameArea.touched}"
                                    maxlength="40">

                                <span class="text-danger" *ngIf="nameArea.errors?.required && nameArea.touched">* Requerido</span>
                                <span class="text-danger" *ngIf="nameArea.errors?.pattern && nameArea.touched">
                                    * Solo letras, n&uacute;meros, m&iacute;nimo 3 car&aacute;cteres
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="">Descripci&oacute;n</label>
                                <textarea class="form-control textarea" rows="2" name="descripcionArea" [(ngModel)]="bodyArea.description" #descArea="ngModel" placeholder="Direcci&oacute;n sede" pattern="[0-9a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ\,\.\-\#]{0,}" [ngClass]="{'is-invalid': descArea.errors?.pattern  && descArea.touched, 'is-valid': !descArea.errors?.pattern && descArea.touched }"
                                    maxlength="100"></textarea>

                                <span class="text-danger" *ngIf="descArea.errors?.pattern && descArea.touched">
                                    * Solo letras, n&uacute;meros y (,.-#)
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">

                            <div class="col">
                                <label>Empresa: </label>
                                <select class="select2 form-control" name="cbxCompany" #cbxCompany="ngModel" [(ngModel)]="bodyArea.idCompany" required [ngClass]="{'is-invalid': cbxCompany.errors?.required && cbxCompany.touched, 'is-valid': !cbxCompany.errors?.required && cbxCompany.touched}">
                                    <option  value="" disabled selected> -- Seleccione -- </option>
                                    <option *ngFor="let company of dataCompany" [value]="company.idEmpresa"> {{company.razonSocial}} </option>
                                </select>

                                <span class="text-danger" *ngIf="cbxCompany.errors?.required && cbxCompany.touched">* Requerido</span>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col" id="alertAreaModal">

                        </div>
                        <!-- <div class="col"></div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="frmArea.invalid || loading" class="btn btn-primary ">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        {{textButton}}
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmArea" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmArea" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">{{ actionConfirm }}</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>