<!-- BEGIN: Main Menu-->
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow">

    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand">
                    <div class="brand-logo"></div>
                    <h2 class="brand-text mb-0">SMGT</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                    <i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i>
                    <i class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block primary" data-ticon="icon-disc"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="shadow-bottom"></div>

    <div class="main-menu-content ">
        <ul class="navigation navigation-main">

            <li class=" nav-item">
                <a>
                    <i class="feather icon-home"></i>
                    <span class="menu-title">Dashboard</span>
                    <span class="badge badge badge-warning badge-pill float-right mr-2">2</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a><i class="feather icon-circle"></i><span class="menu-item" >Analytics</span></a>
                    </li>
                    <li><a href="dashboard-ecommerce.html"><i class="feather icon-circle"></i><span class="menu-item" data-i18n="eCommerce">eCommerce</span></a>
                    </li>
                </ul>
            </li>

            <li class=" navigation-header"><span>Apps</span></li>


            <li class="nav-item has-sub" [ngClass]="{' open': openAuditSegurity}">
                <a (click)="openAuditSegurity = !openAuditSegurity;">
                    <i class="feather icon-lock"></i>
                    <span class="menu-title">
                            Auditor&iacute;a y seguridad
                        </span>

                </a>
                <ul class="menu-content">
                    <li>
                        <a [routerLink]="['/company']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Empresas</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/area']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Areas</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/sede']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Sedes</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/employee']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Nuevo empleado</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/employeeList']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Lista empleados</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class=" nav-item has-sub" [ngClass]="{'open': openComercial}">
                <a (click)="openComercial = !openComercial;">
                    <i class="feather icon-bookmark"></i>
                    <span class="menu-title">Plan comercial</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a [routerLink]="['/responsable']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Responsables</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/partner']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Socios</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/branchOffice']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Nueva sucursal</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/branchOfficeList']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Lista sucursal</span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class=" nav-item has-sub" [ngClass]="{'open': openUtilities}">
                <a (click)="openUtilities = !openUtilities;">
                    <i class="feather icon-activity"></i>
                    <span class="menu-title">Egresos y utilidades</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a [routerLink]="['/expense']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Egresos</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/configUtilities']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Configuraci&oacute;n</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/utilities']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Utilidades</span>
                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/periodOpen']" routerLinkActive="active">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item">Aperturar periodo</span>
                        </a>
                    </li>

                </ul>
            </li>



            <li class=" navigation-header">
                <span>Datos maestros</span>
            </li>
            <li class=" nav-item">
                <a [routerLink]="['/product']" routerLinkActive="active">
                    <i class="feather icon-box"></i>
                    <span class="menu-title">Productos</span>
                </a>
            </li>
            <li class=" nav-item">
                <a [routerLink]="['/typeExpense']" routerLinkActive="active">
                    <i class="feather icon-bookmark"></i>
                    <span class="menu-title">Tipo de gasto</span>
                </a>
            </li>

            <li class=" nav-item">
                <a [routerLink]="['/profilePartner']" routerLinkActive="active">
                    <i class="feather icon-bookmark"></i>
                    <span class="menu-title">Perfil socio</span>
                </a>
            </li>
            <li class=" nav-item">
                <a [routerLink]="['/utilitiesPayment']" routerLinkActive="active">
                    <i class="feather icon-bookmark"></i>
                    <span class="menu-title">Pago de Utilidades</span>
                </a>
            </li>


        </ul>
    </div>
</div>

<!-- END: Main Menu-->