<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Tipo de gasto</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin','dashboard']">Inicio</a>
                        </li>
                        <li class="breadcrumb-item active">Tipo de gasto
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Lista tipos de gastos</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalTypeExpense" id="btnShowModalTypeExpense">
                                                Nuevo
                                            </button>
                                        </th>
                                        <th colspan="2" id="alertTypeExpenseTable">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Tipo gasto
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="qNameTypeExpense" [(ngModel)]="qName" placeholder="Buscar por documento" (change)="onGetListTypeExpense(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>Descripci&oacute;n</th>
                                        <th>Fecha registro</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="dataTypeExpense.length === 0">
                                        <td colspan="5">
                                            <span class="text-center">Sin registros.</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let typeExpense of dataTypeExpense | rowIndex:pagination.currentPage:rowsForPage">
                                        <th scope="row">{{typeExpense.rowIndex}}</th>
                                        <td> {{typeExpense.nombreGasto}} </td>
                                        <td> {{typeExpense.descripcionGasto}} </td>
                                        <td class="text-center">
                                            {{typeExpense.fechaRegistro | date:'medium':'':'es'}}
                                        </td>
                                        <td class="text-center">
                                            <button *ngIf="typeExpense.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditTypeExpense( typeExpense.idTipoGasto )" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="feather icon-edit"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmTypeExpense" (click)="onShowConfirm( typeExpense.idTipoGasto )" [title]="actionConfirm">
                                                <i [ngClass]="{'feather icon-trash-2': typeExpense.estadoRegistro, 'fa fa-undo': !typeExpense.estadoRegistro}" class=""></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="select2 form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="onGetListTypeExpense(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="onGetListTypeExpense(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td colspan="3">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="onGetListTypeExpense(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="onGetListTypeExpense(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="onGetListTypeExpense(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<div class="modal fade text-left" id="modalTypeExpense" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> {{ titleModal }} </h4>
                <button type="button" id="btnCloseModalTypeExpense" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmTypeExpense="ngForm" id="frmTypeExpense" (submit)="onSubmiTypeExpense(frmTypeExpense)">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Nombre </label>
                                <input type="text" placeholder="Nombre tipo gasto" class="form-control" name="txtTypeExpense" #nameTE="ngModel" required pattern="[0-9a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ]{3,40}" [(ngModel)]="bodyTypeExpense.name" [ngClass]="{'is-invalid': (nameTE.errors?.required || nameTE.errors?.pattern) && nameTE.touched, 'is-valid': !nameTE.errors?.required && !nameTE.errors?.pattern && nameTE.touched}"
                                    maxlength="40">

                                <span class="text-danger" *ngIf="nameTE.errors?.required && nameTE.touched">* Requerido</span>
                                <span class="text-danger" *ngIf="nameTE.errors?.pattern && nameTE.touched">
                                    * Solo letras, n&uacute;meros, m&iacute;nimo 3 caracteres
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="">Descripci&oacute;n</label>
                                <textarea class="form-control textarea" rows="2" name="descripcionArea" [(ngModel)]="bodyTypeExpense.description" #descTE="ngModel" placeholder="Descripci&oacute;n" pattern="[0-9a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ\,\.\-\#]{0,}" [ngClass]="{'is-invalid': descTE.errors?.pattern  && descTE.touched, 
                                'is-valid': !descTE.errors?.pattern && descTE.touched }" maxlength="120"></textarea>

                                <span class="text-danger" *ngIf="descTE.errors?.pattern && descTE.touched">
                                    * Solo letras, n&uacute;meros y (,.-#)
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" id="alertTypeExpenseModal">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="frmTypeExpense.invalid || loading" class="btn btn-primary ">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        {{textButton}}
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmTypeExpense" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmTypeExpense" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">{{ actionConfirm }}</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>