.text-right {
    text-align: right;
}

.inline {
    display: inline;
}

.cbxRowForPage {
    width: 70px;
}

.text-primary {
    color: #7367F0;
}

.textarea {
    min-height: 70px;
    max-height: 70px;
}