<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Sedes</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin','dashboard']">Inicio</a>
                        </li>
                        <li class="breadcrumb-item"><a>Auditoría y seguridad</a>
                        </li>
                        <li class="breadcrumb-item active">Sedes
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Lista de sedes</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover ">
                                <thead>
                                    <tr>
                                        <th colspan="3">
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalSede" id="btnShowModalSede">
                                                Nuevo
                                            </button>
                                        </th>
                                        <th colspan="3" id="alertSedeTable">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Sede
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': qSede != ''}"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qDoc" [(ngModel)]="qSede" placeholder="Buscar por sede" (change)="onGetListSede(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Direcci&oacute;n
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': qAddress != ''}"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qAddress" [(ngModel)]="qAddress" placeholder="Buscar por direcci&oacute;n" (change)="onGetListSede(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Empresa
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter" [ngClass]="{'text-primary': qCompany != ''}"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qName" [(ngModel)]="qCompany" placeholder="Buscar por empresa" (change)="onGetListSede(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>Fecha registro</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tr *ngIf="loadingTable">
                                    <td colspan="11" class="text-center">
                                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </td>
                                </tr>

                                <tbody *ngIf="!loadingTable">
                                    <tr *ngIf="dataSede.length === 0 && !loadingTable">
                                        <td colspan="6">
                                            <span class="text-center">Sin registros.</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let sede of dataSede | rowIndex:pagination.currentPage:rowsForPage">
                                        <th scope="row">{{sede.rowIndex}}</th>
                                        <td> {{sede.nombreSede}} </td>
                                        <td> {{sede.direccionSede}} </td>
                                        <td> {{sede.razonSocial}} </td>
                                        <td> {{sede.fechaRegistro | date:'medium':'':'es'}} </td>
                                        <td>
                                            <button *ngIf="sede.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditSede( sede.idSede )" data-toggle="tooltip" data-placement="top" title="Editar">
                                                <i class="feather icon-edit"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmSede" (click)="onShowConfirm( sede.idSede )" [title]="actionConfirm">
                                                <i [ngClass]="{'feather icon-trash-2': sede.estadoRegistro, 'fa fa-undo': !sede.estadoRegistro}" class=""></i>
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="onGetListSede(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="onGetListSede(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                        <td colspan="3">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="onGetListSede(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="onGetListSede(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="onGetListSede(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                            <!-- <ul>
                                                <li *ngFor="let item of dataSede | paginate: { itemsPerPage: 10, currentPage: 1, totalItems: dataSede.length }"> {{item}} </li>
                                            </ul>
                                            <pagination-controls (pageChange)="onGetListSede($event)"></pagination-controls> -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Modal -->
<!-- data-backdrop="false" -->
<div class="modal fade text-left" id="modalSede" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> {{ titleModal }} </h4>
                <button type="button" id="btnCloseModalSede" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmSede="ngForm" id="frmSede" (submit)="onSubmitSede(frmSede)">
                <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Nombre </label>
                                <input type="text" placeholder="Nombre sede" class="form-control" name="txtSede" #nameSede="ngModel" required pattern="[0-9a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ]{5,40}" [(ngModel)]="bodySede.nameSede" [ngClass]="{'is-invalid': (nameSede.errors?.required || nameSede.errors?.pattern) && nameSede.touched, 
                                'is-valid': !nameSede.errors?.required && !nameSede.errors?.pattern && nameSede.touched}" maxlength="40">

                                <span class="text-danger" *ngIf="nameSede.errors?.required && nameSede.touched">* Requerido</span>
                                <span class="text-danger" *ngIf="nameSede.errors?.pattern && nameSede.touched">
                                    * Solo letras, n&uacute;meros, entre 5 a 100 car&aacute;cteres
                                </span>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="">Direcci&oacute;n</label>
                                <textarea class="form-control textarea" rows="2" name="addressSede" [(ngModel)]="bodySede.addressSede" #address="ngModel" placeholder="Direcci&oacute;n sede" required pattern="[0-9a-zA-Z\ áéíóúüñÁÉÍÓÚÜÑ\,\.\-\#]{0,}" minlength="5" maxlength="70" [ngClass]="{'is-invalid': (address.errors?.required || address.errors?.pattern || address.errors?.minlength || address.errors?.maxlength ) && address.touched, 'is-valid': !address.errors?.pattern && !address.errors?.required && !address.errors?.minlength && !address.errors?.maxlength && address.touched }"></textarea>

                                <span class="text-danger" *ngIf="address.errors?.required && address.touched">* Requerido</span>
                                <span class="text-danger" *ngIf="(address.errors?.minlength || address.errors?.maxlength ) && address.touched">
                                    * M&iacute;nimo 5, m&aacute;ximo 200 car&aacute;cteres
                                </span>
                                <span class="text-danger" *ngIf="address.errors?.pattern && address.touched">
                                    * Solo letras, n&uacute;meros y (,.-#)
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                            <div class="form-group">
                                <label>Empresa: </label>
                                <select class="form-control" name="cbxCompany" #cbxCompany="ngModel" [(ngModel)]="bodySede.idCompany" required [ngClass]="{'is-invalid': cbxCompany.errors?.required && cbxCompany.touched, 
                                'is-valid': !cbxCompany.errors?.required && cbxCompany.touched}">
                                    <option  value="" disabled selected> -- Seleccione -- </option>
                                    <option *ngFor="let company of dataCompany" [value]="company.idEmpresa"> {{company.razonSocial}} </option>
                                </select>

                                <span class="text-danger" *ngIf="cbxCompany.errors?.required && cbxCompany.touched">* Requerido</span>
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col" id="alertSedeModal">

                        </div>
                        <!-- <div class="col"></div> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="frmSede.invalid || loading" class="btn btn-primary ">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        {{textButton}}
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmSede" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmSede" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">{{ actionConfirm }}</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" (click)="onUpdateStatus()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>