<section id="content-types">
    <div class="row match-height">
        <div class="col-xl-12 col-md-12">
            <div class="card">
                <div class="card-header mb-1">
                    <h4 class="card-title">Lista sucursales</h4>
                </div>
                <div class="card-content">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th colspan="4">

                                        </th>
                                        <th colspan="4" id="alertBranchTable">

                                        </th>
                                    </tr>
                                    <tr>
                                        <th>#</th>
                                        <th>
                                            Nombre
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qEmployee" [(ngModel)]="qName" placeholder="Buscar por nombre" (change)="onGetListBranch(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Tipo
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <ul class="list-unstyled mb-0">
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtType" id="rbtTypeYes" value="POINTSALE" [(ngModel)]="qType" (change)="onGetListBranch(1)">
                                                                        <label class="custom-control-label" for="rbtTypeYes">Punto de venta</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtType" id="rbtTypeNo" value="BETHOUSE" [(ngModel)]="qType" (change)="onGetListBranch(1)">
                                                                        <label class="custom-control-label" for="rbtTypeNo">Casa de apuesta</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                            <li class="d-block mr-2">
                                                                <fieldset>
                                                                    <div class="custom-control custom-radio">
                                                                        <input type="radio" class="custom-control-input" name="rbtType" id="rbtTypeAll" value="ALL" [(ngModel)]="qType" (change)="onGetListBranch(1)" checked>
                                                                        <label class="custom-control-label" for="rbtTypeAll">Todo</label>
                                                                    </div>
                                                                </fieldset>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Ubigeo
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qsuario" [(ngModel)]="qUbigeo" placeholder="Buscar por ubigeo" (change)="onGetListBranch(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Documento
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qArea" [(ngModel)]="qDoc" placeholder="Buscar por documento" (change)="onGetListBranch(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>
                                            Socio
                                            <button type="button" class="btn btn-icon rounded-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="feather icon-filter"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <form class="px-2 py-2">
                                                    <div class="form-group">
                                                        <!-- <label for="exampleDropdownFormEmail1">Buscar por documento</label> -->
                                                        <input type="text" class="form-control" name="qEmpresa" [(ngModel)]="qPartner" placeholder="Buscar por socio" (change)="onGetListBranch(1)">
                                                    </div>
                                                </form>
                                            </div>
                                        </th>
                                        <th>Fecha registro</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="dataBranchOffice.length === 0">
                                        <td colspan="8">
                                            <span class="text-center">Sin registros.</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let branch of dataBranchOffice | rowIndex:pagination.currentPage:rowsForPage">
                                        <td>{{branch.rowIndex}}</td>
                                        <td> {{branch.nombreSucursal}} </td>
                                        <td class="text-center">
                                            {{branch.tipoSucursal | typeBranch}}
                                        </td>
                                        <td> {{branch.ubigeoConvert}} </td>
                                        <td> {{branch.documento}} </td>
                                        <td> {{branch.apellidoNombre}} </td>
                                        <td> {{branch.fechaRegistro | date:'medium':'':'es'}} </td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditGeoLocation( branch.idSucursal )">
                                                <i class="feather icon-map-pin" data-toggle="tooltip" data-placement="top" title="Cambiar ubicación" aria-hidden="true"></i>
                                            </button>

                                            <button *ngIf="branch.estadoRegistro" type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" (click)="onEditBranch( branch.idSucursal )" data-toggle="modal" data-target="#ModalUser">
                                                <i class="feather icon-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-primary mr-1 mb-1" data-toggle="modal" data-target="#modalConfirmUser" (click)="onShowConfirm( branch.idSucursal )">
                                                <i [ngClass]="{'feather icon-trash-2': branch.estadoRegistro, 'fa fa-undo': !branch.estadoRegistro}" data-toggle="tooltip" data-placement="top" [title]="actionConfirm"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="row">
                                                <div class="col-5">
                                                    {{infoPagination}}
                                                </div>
                                                <div class="col-4">
                                                    <span class="inline">ver</span>&nbsp;
                                                    <select class="select2 form-control cbxRowForPage inline" name="cbxRowsForPage" [(ngModel)]="rowsForPage" (change)="onGetListBranch(1)">
                                                        <option  value="10"> 10 </option>
                                                        <option  value="20"> 20 </option>
                                                        <option  value="50"> 50 </option>
                                                    </select>&nbsp;
                                                    <span class="inline">registros</span>
                                                </div>
                                                <div class="col-3">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" value="false" [(ngModel)]="showInactive" (click)="onGetListBranch(1, true)">
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class="">Mostrar inactivos</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </td>
                                        <td colspan="4">
                                            <div *ngIf="pagination.currentPage" class="text-right">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center mt-2">

                                                        <li class="page-item prev" [ngClass]="{'disabled':pagination.currentPage === 1}">
                                                            <a class="page-link" (click)="onGetListBranch(pagination.currentPage - 1)">Prev</a>
                                                        </li>

                                                        <li class="page-item" *ngFor="let page of pagination.pages" [ngClass]="{active:pagination.currentPage === page}">
                                                            <a class="page-link" (click)="onGetListBranch(page)">
                                                                {{ page }}
                                                            </a>
                                                        </li>

                                                        <li class="page-item next" [ngClass]="{'disabled':pagination.currentPage === pagination.totalPages}">
                                                            <a class="page-link" (click)="onGetListBranch(pagination.currentPage + 1)">Next</a>
                                                        </li>
                                                    </ul>

                                                </nav>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Modal -->
<div class="modal fade text-left" id="ModalUser" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Editar sucursal </h4>

                <button type="button" id="btnCloseModalBranch" class="close" data-dismiss="modal" aria-label="Close" (click)="onResetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form #frmBranchEdit="ngForm" id="frmBranchEdit" (submit)="onSubmitBranch(frmBranchEdit)">
                <div class="modal-body">

                    <div class="col-12">
                        <div class="row">

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="first-name-icon">Socio</label>
                                    <div class="position-relative has-icon-left">
                                        <select name="cbxPartner" class="form-control" [(ngModel)]="bodyBranchEdit.idPartner" #partner="ngModel" (change)="onChangePartner()" required [ngClass]="{'is-invalid': partner.errors?.required && partner.touched, 
                                                            'is-valid': !partner.errors?.required && partner.touched}">
                                            <option value="null" disabled selected> -- SELECCIONE -- </option>
                                            <option *ngFor="let partner of dataPartner" [value]="partner.idSocio">{{ partner.apellidoNombre }}</option>
                                        </select>

                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                    </div>
                                    <span *ngIf="partner .errors?.required && partner .touched" class="text-danger">
                                        *Requerido
                                    </span>
                                </div>
                            </div>

                            <div class="col-6">
                                <label for="">Documento socio</label>
                                <div class="position-relative has-icon-left">
                                    <span class="form-control">
                                        {{bodyBranchEdit.namePartner}}
                                    </span>

                                    <div class="form-control-position">
                                        <i class="feather icon-hash"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="email-id-icon">Nombre sucursal</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" class="form-control" name="nameBranch" #nameBranch="ngModel" [(ngModel)]="bodyBranchEdit.nameBranch" placeholder="Nombre sucursal" pattern="[a-zA-Z\ \,\.\-\#áéíóúüñÁÉÍÓÚÜÑ]{0,}" required minlength="5" maxlength="80" [ngClass]="{'is-invalid': (nameBranch.errors?.required || nameBranch.errors?.minlength ||  nameBranch.errors?.pattern ) && nameBranch.touched , 'is-valid': !nameBranch.errors?.required && !nameBranch.errors?.minlength &&  !nameBranch.errors?.pattern  && nameBranch.touched}">


                                        <div class="form-control-position">
                                            <i class="feather icon-italic"></i>
                                        </div>
                                    </div>
                                    <span *ngIf="nameBranch .errors?.required && nameBranch .touched" class="text-danger">
                                        *Requerido
                                    </span>
                                    <span *ngIf="nameBranch .errors?.minlength && nameBranch .touched" class="text-danger">
                                        *M&iacute;nimo 5 car&aacute;cteres
                                    </span>
                                    <span *ngIf="nameBranch .errors?.pattern && nameBranch .touched" class="text-danger">
                                        *Solo letras  y # , . -
                                    </span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="">Tipo</label>
                                    <select class="form-control" name="cbxTypeBranch" [(ngModel)]="bodyBranchEdit.typeBranch">
                                        <option value="BETHOUSE">Casa de apuesta</option>
                                        <option value="POINTSALE">Punto de venta</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="">Categor&iacute;a</label>
                                    <select class="form-control" name="cbxCategorieBranch" [(ngModel)]="bodyBranchEdit.categorie">
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="contact-info-icon">Direcci&oacute;n sucursal</label>
                            <div class="position-relative has-icon-left">
                                <input type="text" class="form-control" name="addressBranch" #addressBranch="ngModel" [(ngModel)]="bodyBranchEdit.addressBranch" placeholder="Direcci&oacute;n sucursal" required minlength="10" pattern="[a-zA-Z0-9\ \,\.\-\#áéíóúüñÁÉÍÓÚÜÑ]{0,}" [ngClass]="{'is-invalid': (addressBranch.errors?.required || addressBranch.errors?.minlength ||  addressBranch.errors?.pattern ) && addressBranch.touched , 'is-valid': !addressBranch.errors?.required && !addressBranch.errors?.minlength &&  !addressBranch.errors?.pattern  && addressBranch.touched}">


                                <div class="form-control-position">
                                    <i class="feather icon-italic"></i>
                                </div>
                            </div>
                            <span *ngIf="addressBranch .errors?.required && addressBranch .touched" class="text-danger">
                                *Requerido
                            </span>
                            <span *ngIf="addressBranch .errors?.minlength && addressBranch .touched" class="text-danger">
                                *M&iacute;nimo 5 car&aacute;cteres
                            </span>
                            <span *ngIf="addressBranch .errors?.pattern && addressBranch .touched" class="text-danger">
                                *Solo letras, numeros y # , . -
                            </span>
                        </div>
                    </div>

                    <div class="col-12">

                        <div class="row">
                            <div class="col-4">
                                <fieldset class="form-label-group">
                                    <input type="number" name="large" #large="ngModel" [(ngModel)]="bodyBranchEdit.large" class="form-control text-right" id="largeLabel" placeholder="Largo" min="0">
                                    <label for="largeLabel">Largo</label>
                                </fieldset>
                            </div>

                            <div class="col-4">
                                <fieldset class="form-label-group">
                                    <input type="number" name="widthBranch" #widthBranch="ngModel" [(ngModel)]="bodyBranchEdit.width" class="form-control text-right" id="widthLabel" placeholder="Ancho" min="0">
                                    <label for="widthLabel">Ancho</label>
                                </fieldset>
                            </div>

                            <div class="col-4">
                                <fieldset class="form-label-group">
                                    <input type="number" name="heightBranch" #heightBranch="ngModel" [(ngModel)]="bodyBranchEdit.height" class="form-control text-right" id="heightLabel" placeholder="Alto" min="0">
                                    <label for="heightLabel">Alto</label>
                                </fieldset>
                            </div>

                        </div>

                    </div>

                    <div class="col-12">

                        <label for="">Ubigeo</label>
                        <div class="row">
                            <div class="col-4">
                                <select name="cbxDepartment" class="form-control" #department="ngModel" [(ngModel)]="bodyBranchEdit.department" (change)="onChangeDepartment()" required [ngClass]="{'is-invalid': department.errors?.required && department.touched,'is-valid': !department.errors?.required && department.touched}">
                                        <option value="" disabled selected > -- DEPARTAMENTO -- </option>
                                        <option *ngFor="let department of dataDepartment" [value]="department.codigoDepartamento">
                                            {{ department.nombreDepartamento }}
                                        </option>
                                </select>
                                <span *ngIf="department.errors?.required && department.touched" class="text-danger">
                                        *Requerido
                                </span>
                            </div>
                            <div class="col-4">
                                <select class="form-control" name="cbxProvince" #province="ngModel" (change)="onChangeProvince()" [(ngModel)]="bodyBranchEdit.province" required [ngClass]="{'is-invalid': province.errors?.required && province.touched, 'is-valid': !province.errors?.required && province.touched}">
                                    <option value="" disabled selected> -- PROVINCIA -- </option>
                                    <option *ngFor="let province of dataProvince" [value]="province.codigoProvincia">
                                        {{ province.nombreProvincia }}
                                    </option>
                                </select>
                                <span *ngIf="province.errors?.required && province.touched" class="text-danger">
                                    *Requerido
                                </span>

                            </div>
                            <div class="col-4">
                                <select class="form-control" (change)="onChangeDistrit()" name="cbxDistrit" #distrit="ngModel" [(ngModel)]="bodyBranchEdit.distrit" required [ngClass]="{'is-invalid': distrit.errors?.required && distrit.touched,'is-valid': !distrit.errors?.required && distrit.touched}">
                                        <option value="" disabled selected> -- DISTRITO -- </option>
                                        <option *ngFor="let distrit of dataDistrit" [value]="distrit.codigoDistrito">
                                            {{ distrit.nombreDistrito }}
                                        </option>
                                </select>
                                <span *ngIf="distrit.errors?.required && distrit.touched" class="text-danger">
                                        *Requerido
                                </span>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="col-12">

                        <form #frmComissionPartner="ngForm" id="frmComissionPartner">
                            <div class="table-responsive-sm">
                                <table class="table table-sm table-bordered mb-0" style="max-height: 260px;">
                                    <thead>
                                        <tr>
                                            <th colspan="1">
                                                <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-success " (click)="onAddComision()" [disabled]="bodyBranchEdit.comission.length === dataProduct.length">
                                                    <i data-toggle="tooltip" data-placement="top" title="Nuevo" class="feather icon-plus"></i>
                                                </button>
                                            </th>
                                            <th colspan="1">
                                                <br>
                                                <h6>Comisi&oacute;n por producto</h6>
                                            </th>
                                            <th colspan="3">
                                                <div *ngIf="frmComissionPartner.invalid">
                                                    <div class="alert alert-danger mt-1 alert-validation-msg" role="alert">
                                                        <i class="feather icon-info mr-1 align-middle"></i>
                                                        <span>Verifique los datos de comisi&oacute;n</span>
                                                    </div>
                                                </div>

                                            </th>
                                        </tr>
                                        <tr>
                                            <th style="width: 30px;">#</th>
                                            <th>Juego</th>
                                            <th style="width: 130px;">% socio</th>
                                            <th style="width: 130px;">% empresa</th>
                                            <th style="width: 50px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of bodyBranchEdit.comission; let i = index">
                                            <th scope="row"> {{ i + 1 }} </th>
                                            <td>
                                                <select class="form-control" name="idProduct-{{i}}" [(ngModel)]="item.idProduct" #idProduct="ngModel" [ngClass]="{'is-invalid': idProduct.errors?.required && idProduct.touched, 'is-valid': !idProduct.errors?.required && idProduct.touched}" required (change)="onChangeProductPartner(i)">
                                                    <option selected disabled value="null" selected> -- Seleccione -- </option>
                                                    <option *ngFor="let product of dataProduct" [value]="product.idProducto">
                                                        {{product.nombreProducto}}
                                                    </option>
                                                </select>

                                            </td>
                                            <td>
                                                <input type="number" name="percentP-{{i}}" [(ngModel)]="item.percentPartner" class="form-control text-right" #percentP="ngModel" [ngClass]="{'is-invalid': (item.percentComision > 20 || percentP.errors?.required) && percentP.touched, 
                                                'is-valid': item.percentPartner <= 20 && !percentP.errors?.required && percentP.touched }" required>
                                            </td>
                                            <td>
                                                <input type="number" name="percentE-{{i}}" [(ngModel)]="item.percentCompany" class="form-control text-right" #percentE="ngModel" [ngClass]="{'is-invalid': (item.percentComision > 20 || percentE.errors?.required) && percentE.touched, 
                                                'is-valid': item.percentCompany <= 20 && !percentE.errors?.required && percentE.touched }" required>
                                            </td>
                                            <td class="text-center">
                                                <button type="button" class="btn btn-sm btn-icon rounded-circle btn-outline-danger " (click)="onDeleteComission( i )">
                                                    <i data-toggle="tooltip" data-placement="top" title="Eliminar" class="feather icon-trash-2"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>

                    <div class="row">
                        <div class="col-12" id="alertBranchModal">

                        </div>
                        <div class="col-12" id="alertBranchDetail">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary " [disabled]="frmBranchEdit.invalid || frmComissionPartner.invalid || loading || bodyBranchEdit.comission.length === 0">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" ></span> &nbsp;
                        Guardar cambios
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="onResetForm()">
                        Cerrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal confirm delete / restore -->
<div class="modal fade text-left" id="modalConfirmUser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¡Confirmaci&oacute;n!</h4>
                <button type="button" id="btnCloseConfirmBrancdh" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ¿Está seguro de <strong class="text-primary">{{ actionConfirm }}</strong> este registro ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onUpdateStatus()">
                    Aceptar
                </button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>