<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Configuraci&oacute;n</h2>
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin','dashboard']">Inicio</a>
                        </li>
                        <li class="breadcrumb-item"><a>Egresos y utilidades</a>
                        </li>
                        <li class="breadcrumb-item active">Configuraci&oacute;n
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-body">
    <!-- card actions section start -->
    <section id="card-actions">

        <!-- Info table about action starts -->
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Configuraci&oacute;n de utilidades</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form #frmConfigU="ngForm" id="frmConfigU" class="form form-horizontal" (submit)="onSubmitConfig(frmConfigU)">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <span>Impuesto renta</span>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="position-relative has-icon-left">
                                                        <input type="number" class="form-control" name="incomeTax" #tax="ngModel" [(ngModel)]="bodyConfig.incomeTax" placeholder="% impuesto" required max="30" [ngClass]="{'is-invalid': (tax.errors?.required || bodyConfig.incomeTax >= 31 ) && tax.touched, 
                                                        'is-valid': !tax.errors?.required && bodyConfig.incomeTax <= 30 && tax.touched}">
                                                        <div class="form-control-position">
                                                            <i class="feather icon-percent"></i>
                                                        </div>
                                                    </div>
                                                    <span class="text-danger" *ngIf="tax.errors?.required && tax.touched">
                                                        *Requerido
                                                    </span>
                                                    <span class="text-danger" *ngIf="bodyConfig.incomeTax > 30 && tax.touched">
                                                        *El impuesto no puede ser mayor a 30
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group row">

                                                <div class="col-md-4"></div>
                                                <div class="col-md-8">
                                                    <div id="alertConfigUtilities">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-8 offset-md-4">
                                            <button type="submit" class="btn btn-primary mr-1 mb-1" [disabled]="frmConfigU.invalid || bodyConfig.incomeTax >= 31 || loading">
                                                Guardar cambios
                                            </button>
                                            <button type="reset" class="btn btn-outline-warning mr-1 mb-1" (click)="onLoadData()">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <!-- Info table about action Ends -->


    </section>
    <!-- // card-actions section end -->

</div>